.codes_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 50px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 50px;

        .breadcrumbs_row{
            font-size: 16px;
            font-family: 'OpenSansRegular', sans-serif;
            color: var(--text_gray_2);

            span{
                color: var(--sky_blue);
            }
        }

        .page_content_block{
            width: 100%;
            column-gap: 50px;

            
            
        }
    }
}