.constitutional_law_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 50px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 50px;


        .page_content_block{
            width: 100%;
            column-gap: 50px;
            position: relative;
            
            .right_side{
                row-gap: 35px;
                color: var(--text_black_default);

                .block_title{
                    font-family: 'OpenSansExtraBold', sans-serif;
                    font-size: 30px;
                    margin: 0;
                    text-transform: uppercase;
                }

                .text_block{
                    background-color: var(--container_background_blue);
                    color: var(--text_black_default);
                    box-sizing: border-box;
                    padding: 10px 10px 15px 10px;

                    .title_block{
                        row-gap: 10px;
                        font-family: 'OpenSansBold', sans-serif;
                        font-size: 25px;
                        text-align: center;
                        margin-bottom: 25px;

                        .text_title{
                            text-transform: uppercase;
                            margin: 0;
                        }

                        .text_subtitle{
                            margin: 0;
                        }

                        span{
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 16px;
                        }
                    }

                    p{
                        font-family: 'OpenSansRegular', sans-serif !important;
                        font-size: 16px !important;
                        margin: 0 !important;
                    }
                }
            }
            
        }
    }

    @media(max-width: 999px){

        .inner_wrapper{

            .page_content_block{

                .right_side{
                    box-sizing: border-box;
                    padding: 0 0 0 25px;

                    .block_title{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}