.contacts_page{
    justify-content: center;
    
    .inner_wrapper{
        width: var(--default_width);

        .breadcrumbs_row{
            margin: 10px 0 50px 0;
        }

        .contacts_row{
            justify-content: space-between;
            column-gap: 30px;

            .contacts_wrapper{
                width: 747px;
                height: 360px;
                background-color: var(--container_background_blue);
                color: var(--text_black_default);
                box-sizing: border-box;
                padding: 10px 10px 15px 10px;
                justify-content: center;

                .title{
                    margin: 0;
                    font-family: 'OpenSansExtraBold', sans-serif;
                    font-size: 25px;
                    text-align: center;
                    margin-bottom: 40px;
                }

                .content_row{
                    box-sizing: border-box;
                    padding: 0 40px;

                    .left_cell{
                        width: 50%;
                        row-gap: 25px;
                        justify-content: center;

                        .contact_row_wrapper{
                            align-items: center;
                            column-gap: 5px;
                            color: var(--text_black_default);
                            margin: 0;

                            svg{
                                width: 24px;
                                height: 24px;
                            }

                            span{
                                font-family: 'OpenSansRegular', sans-serif;
                                font-size: 16px;
                            }
                        }
                    }

                    .right_cell{
                        width: 50%;
                        row-gap: 18px;
                        justify-content: center;
                        color: var(--text_black_default);

                        .title{
                            font-family: 'OpenSansBold', sans-serif;
                            font-size: 16px;
                            margin: 0;
                            text-align: center;
                        }

                        span{
                            text-align: center;
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 16px;
                        }
                    }
                }
            }

            .map_wrapper{
                width: 623px;
                height: 364px;
            }
        }
    }

    @media(max-width: 1199px){
        .inner_wrapper{

            .contacts_row{
                flex-direction: column;
                align-items: center;
                row-gap: 30px;
            }
        }
    }

    @media(max-width: 799px){
        .inner_wrapper{

            .contacts_row{

                .contacts_wrapper{
                    width: 95%;
                }

                .map_wrapper{
                    width: 95%;
                }
            }
        }
    }

    @media(max-width: 599px){
        .inner_wrapper{

            .contacts_row{

                .contacts_wrapper{
                    height: max-content;

                    .title{
                        margin-bottom: 20px;
                    }

                    .content_row{
                        flex-wrap: wrap;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 30px;
                        padding: 0 3vw;

                        .left_cell, .right_cell{
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}