.convocation_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 50px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 50px;


        .page_content_block{
            width: 100%;
            column-gap: 50px;

            .right_side{
                color: var(--text_black_default);

                .block_title{
                    font-size: 25px;
                    font-family: 'OpenSansExtraBold', sans-serif;
                    margin: 0 0 25px 0;
                }

                .search_block{
                    row-gap: 25px;
                    color: var(--text_gray_3);

                    .letters_row{
                        column-gap: 15px;
                        flex-wrap: wrap;

                        .letter{
                            font-size: 18px;
                            font-family: 'OpenSansBold', sans-serif;
                            cursor: pointer;

                            &.active {
                                color: var(--sky_blue);
                            }
                        }
                    }

                    .select_row{

                        select{
                            color: inherit;
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 14px;
                            box-sizing: border-box;
                            padding: 10px 102px 10px 10px;
                            border: 1px solid var(--text_gray_4);
                            background: var(--default_white);
                            outline: none;
                        }
                    }
                }

                .deputies_list_block{
                    justify-content: space-between;
                    width: 752px;
                    box-sizing: border-box;
                    padding: 10px 20px 20px 20px;
                    margin-top: 25px;
                    background-color: var(--container_background_blue);
                    row-gap: 25px;
                    flex-wrap: wrap;

                    .deputy_name{
                        font-size: 16px;
                        font-family: 'OpenSansSemiBold', sans-serif;
                        color: var(--pure_black);
                        width: 49%;
                        flex-shrink: 0;
                    }
                }
            }
        }
    }

    @media(max-width: 1400px){
        .inner_wrapper{

            .page_content_block{

                .right_side{
                    width: -webkit-fill-available;
                    width: -moz-available;
                    width: -ms-available;

                    // .deputies_list_block{
                    //     width: -webkit-fill-available;
                    //     width: -moz-available;
                    //     width: -ms-available;
                    // }
                }
            }
        }
    }

    @media(max-width: 1140px) {
        .inner_wrapper{

            .page_content_block{

                .right_side{

                    .deputies_list_block{
                        width: -webkit-fill-available;
                        width: -moz-available;
                        width: -ms-available;
                    }
                }
            }
        }
    }

    @media(max-width: 999px) {
        .inner_wrapper{

            .page_content_block{
                column-gap: 20px;
            }
        }
    }

    @media(max-width: 600px) {
        .inner_wrapper{

            .page_content_block{
                column-gap: 20px;

                .right_side{

                    .block_title{
                        font-size: 21px;
                    }

                    .search_block{

                        .letters_row{

                            .letter{
                                font-size: 16px;
                            }
                        }

                        .select_row{

                            select{
                                padding: 10px;
                            }
                        } 
                    }

                    .deputies_list_block{
                        flex-direction: column;
                    }
                }
            }
        }
    }
}