
.top_header{
    background-color: var(--default_white);
    height: max-content;
    width: 100%;
    justify-content: center;
    color: var(--text_black_default);
    box-sizing: border-box;
    padding: 10px 0 25px 0;
    z-index: 101;
    position: relative;

    .inner_wrapper{
        justify-content: space-between;
        position: relative;
        width: var(--default_width);
        align-items: center;

        .logo_wrapper{
            row-gap: 10px;
            align-items: center;

            img{
                height: 87.5px;
                width: 263px;
            }

            .logo_text{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 20px;
                margin: 0;
                color: var(--text_black_default);
            }
        }

        .lang_wrapper{
            position: absolute;
            right: 0;
            bottom: 0;
            color: black;

            .globe, .chevron_down{
                stroke: black !important;
            }
        }
    }

    @media(max-width: 750px) {
        .inner_wrapper{

            .lang_wrapper{
                display: none;
            }

            .logo_text{
                font-size: 17px;
            }
        }
    }
}

.bottom_header{
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--sky_blue);
    color: var(--default_white);
    z-index: 100;
    position: sticky;
    top: -1px;

    .inner_wrapper{
        width: var(--default_width);
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        .nav_block{
            column-gap: 50px;

            .nav_button_wrapper{
                text-decoration: none;
                cursor: pointer;
                box-sizing: border-box;
                padding: 20px 10px;
                position: relative;

                span{
                    font-family: 'OpenSansSemiBold', sans-serif;
                    font-size: 16px;
                    color: var(--default_white);
                }

                .dropdown_menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 62.4px;
                    background-color: var(--sky_blue);
                    box-sizing: border-box;
                    padding: 20px 15px;
                    width: max-content;
                    max-width: 275px;
                    row-gap: 20px;
                    border-top: 1px solid var(--default_white);

                    .item_wrapper{
                        width: max-content;
                        max-width: 100%;

                        a{
                            text-decoration: none;
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 16px;
                            color: inherit;
                        }
                    }

                    &:hover{
                        display: flex;
                    }
                }

                &::after{
                    bottom: 15px !important;
                }

                &:hover {

                    .dropdown_menu{
                        display: flex;

                    }
                }
            }
        }

        .hamburger_button{
            width: 30px;
            height: 20px;
            position: absolute;
            right: 0;
            justify-content: center;
            display: none;

            span{
                width: 100%;
                height: 1px;
                background-color: var(--default_white);

                &::after, &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: var(--default_white);
                    top: 0;
                }

                &::after{
                    top: unset;
                    bottom: 0;
                }
            }
        }
    }

    @media(max-width: 1400px){
        height: 62px;

        & > .inner_wrapper{

            .nav_block{
                display: none;
            }

            .hamburger_button{
                display: flex;
            }
        }
    }
}

.hamburger_menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px 0 66px 0;
    background-image: linear-gradient(to right, var(--gradient_background_1) , var(--gradient_background_2));
    transition: 0.55s all ease-in !important;
    align-items: center;
    z-index: 102;
    transform: translateX(100%);
    display: none;

    &.active {
        transform: translateX(0%);
    }

    .hamburger_close_button {
        position: absolute;
        left: 50px;
        top: 40px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 101;

        span{
            width: inherit;
            height: 2px;
            background-color: var(--default_white);
            display: inline-block;
            
            transform: rotateZ(45deg);

            &::after{
                content: '';
                width: inherit;
                height: inherit;
                border: none;
                background-color: var(--default_white);
                transform: rotateZ(-90deg);
                position: absolute;
            }
        }
    }

    .inner_wrapper{
        justify-content: space-between;
        height: 100%;

        .top_block{
            width: 100%;
            align-items: center;

            .building_img{
                width: 435px;
                height: 114.5px;
            }

            hr{
                width: 83%;
                border: none;
                height: 2px;
                background-color: var(--default_white);
                margin: 10px 0;
            }

            .title{
                font-family: 'RalewayExtraBold', sans-serif;
                font-size: 25px;
                color: var(--default_white);
                margin: 0;
                text-align: center;
            }

            .info{
                font-size: 20px;
                font-family: 'RalewayBold', sans-serif;
                color: var(--default_white);
                margin-top: 12px;
                text-align: center;
            }
        }

        .nav_block{
            align-items: center;
            row-gap: 20px;
            width: 100%;

            a{
                text-decoration: none;
                color: var(--default_white);
                font-family: 'OpenSansSemibold', sans-serif;
                font-size: 20px;
            }

            .nav_button_wrapper{
                text-decoration: none;
                cursor: pointer;
                box-sizing: border-box;
                position: relative;
                color: var(--default_white);
                justify-content: center;
                overflow-y: hidden;
                justify-content: flex-start;
                align-items: center;
                transition: all 0.3s ease-in;

                span{
                    font-family: 'OpenSansSemiBold', sans-serif;
                    font-size: 19px;
                }

                .button_name_wrapper{
                    align-items: center;
                    column-gap: 5px;
                    transition: inherit;

                    .chevron_down{
                        transition: inherit;
                        width: 14px;
                        height: 14px;
                    }
                }

                

                .dropdown_menu{
                    display: none;
                    top: calc(100% + 5px);
                    box-sizing: border-box;
                    padding: 20px 15px;
                    width: max-content;
                    max-width: 300px;
                    row-gap: 15px;
                    align-items: center;

                    .item_wrapper{
                        width: max-content;
                        max-width: 100%;

                        a{
                            text-decoration: none;
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 16px;
                            color: inherit;
                        }
                    }

                }

                &.active{
                    span{
                        border-bottom: 1px solid var(--default_white);
                    }
                }

                &.extended{

                    .button_name_wrapper{

                        .chevron_down{
                            transform: rotateZ(180deg);
                        }

                    }
                }

            }

        }

        .lang_block{
            margin-bottom: 15px;
            width: 100%;
            justify-content: center;

        }
    }

    @media(max-width: 1400px){
        display: flex;
    }

    @media(max-width: 1150px){
        width: 75vw;
    }

    @media(max-width: 750px){
        width: 100%;
        height: 100%;

        .inner_wrapper{

            .top_block{

                .title{
                    font-size: 23px;
                }

                .building_img{
                    width: 95vw;
                }
            }
        }

        .hamburger_close_button{
            left: 4vw;
            top: 20px;
        }
    }
}


footer {
    width: 100%;
    height: 321px;
    background-color: var(--sky_blue);
    color: var(--default_white);
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 0;

    .inner_wrapper {
        width: var(--default_width);
        justify-content: space-between;
        column-gap: 40px;

        .left_column {
            width: 273px;
            height: 100%;
            align-items: center;
            color: var(--default_white);

            .image_wrapper {
                width: 100%;
                height: 87.5px;
                margin-bottom: 20px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .column_title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 20px;
                margin: 0;
                text-transform: uppercase;
                text-align: center;
            }

            .column_description{
                font-size: 14px;
                font-family: 'OpenSansBold', sans-serif;
                margin: 0 0 25px 0;
                text-align: center;
            }

            .copyright_text{
                font-size: 12px;
                font-family: 'OpenSansRegular', sans-serif;
                margin: 0;
                text-align: center;

            }
        }

        .middle_column{
            width: 772px;
            height: 100%;

            .column_title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 18px;
                margin: 0 0 19px 0;
                text-transform: uppercase;
                text-align: center;
            }

            .column_description{
                font-family: 'OpenSansRegular', sans-serif;
                font-size: 16px;
                margin: 0;
                text-align: justify;
            }
        }

        .right_column{
            width: 255px;
            height: 100%;
            row-gap: 10px;

            .column_title{
                font-family: 'OpenSansBold', sans-serif;
                font-size: 14px;
                margin: 0;
                color: var(--default_white);
            }

            .contact_row_wrapper{
                align-items: center;
                margin: 0;
                text-decoration: none;
                color: inherit;
                column-gap: 5px;

                span{
                    font-size: 14px;
                    font-family: 'OpenSansRegular', sans-serif;
                }
            }
        }
    }

    @media(max-width: 999px){
        height: max-content;

        .inner_wrapper{
            flex-direction: column;
            align-items: center;
            row-gap: 25px;

            .left_column{
                // width: 100%;
                order: 2;

                .column_description{
                    margin-bottom: 15px;
                }
            }

            .middle_column{
                width: 100%;
                order: 1;
            }

            .right_column{
                width: max-content;
                order: 3;
            }
        }
    }
}