
    
.upper_header{
    transition: all 0.7s ease-in;
    height: 100vh;
    position: relative;
    display: none;

    .blur_effect{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        // backdrop-filter: blur(5px);
    }

    &.blur{

        .blur_effect{
            width: 100%;
        }

        .main{

            .slider {
                .background_image{
                    filter: blur(3px);
                }
            }

            .content{
                display: none;
                // opacity: 0;
            }
        }
    }

    &.hidden{
        visibility: hidden;
        height: 0px;
    }

    .main{
        width: 100vw;
        height: 100vh;
        background-size: cover;
        align-items: center;
        transition: all 0.5s ease-in;
        

        .slider{
            height: 100vh;
            width: 100vw;
            position: absolute;
            z-index: -11;

            .background_image{
                transition: all 0.2s ease-in;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .topbar{
            width: var(--default_width);
            height: 80px;
            justify-content: space-between;
            margin-top: 10px;
            z-index: 11;
            position: relative;

            .logo_wrapper{
                align-items: center;
                column-gap: 10px;
                text-decoration: none;

                .logo_img{
                    width: 80px;
                    height: 80px;
                }

                .logo_text{
                    color: var(--default_white);
                    font-family: 'OpenSansExtraBold', sans-serif;
                    font-size: 20px;
                }
            }

            .lang_hamburger_wrapper{
                align-items: center;
                column-gap: 22px;

                

                .hamburger_button_wrapper{
                    width: 30px;
                    height: 20px;
                    position: relative;
                    justify-content: space-between;
                    cursor: pointer;

                    span{
                        width: 100%;
                        height: 2px;
                        background-color: var(--default_white);
                        border-radius: 10px;
                        position: absolute;
                        top: 50%;
                        transition: all 0.5s ease-in;

                        &::after, &::before{
                            content: '';
                            height: 2px;
                            width: 100%;
                            position: absolute;
                            background-color: var(--default_white);
                            transform: translateY(0.5em);
                            transition: inherit;
                        }

                        &::before{
                            transform: translateY(-0.5em);
                        }
                    }

                    &.active {
                        
                        span{

                            &::before{
                                transform: rotateZ(-45deg) translate(3px, -5px);
                                width: 50%;
                            }
                            
                            &::after{
                                transform: rotateZ(45deg) translate(3px ,5px);
                                width: 50%;
                            }
                        }
                    }

                }
            }
        }

        .content{
            transition: inherit;
            width: 100%;
            height: max-content;
            justify-content: center;
            align-items: center;
            margin-top: 225px;

            .inner_wrapper{
                width: 952px;
                height: 356px;
                align-items: center;

                .building_img{
                    width: 540px;
                    height: 184px;
                }

                hr{
                    width: 83%;
                    border: none;
                    height: 2px;
                    background-color: var(--default_white);
                    margin: 25px 0;
                }

                .title{
                    font-family: 'RalewayExtraBold', sans-serif;
                    font-size: 70px;
                    color: var(--default_white);
                    margin: 0;
                    text-align: center;
                }

                .info{
                    font-size: 25px;
                    font-family: 'RalewayBold', sans-serif;
                    color: var(--default_white);
                    margin-top: 12px;
                }
            }
        }

        .hamburger_menu {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            box-sizing: border-box;
            padding: 50px 0 66px 0;
            background-image: linear-gradient(to right, var(--gradient_background_1) , var(--gradient_background_2));
            transition: 0.4s all ease-in;
            transform: translateX(100%);
            align-items: center;
            z-index: 11;
            
            &:focus-visible{
                display: none;
            }

            &.active {
                transform: translate(0%) !important;
            }

            .hamburger_button_wrapper {
                position: absolute;
                left: 50px;
                top: 40px;
                width: 30px;
                height: 30px;
                cursor: pointer;

                .hamburger_button{
                    width: inherit;
                    height: 2px;
                    background-color: var(--default_white);
                    display: inline-block;
                    
                    transform: rotateZ(45deg);

                    &::after{
                        content: '';
                        width: inherit;
                        height: inherit;
                        border: none;
                        background-color: var(--default_white);
                        transform: rotateZ(-90deg);
                        position: absolute;
                    }
                }
            }

            .inner_wrapper{
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 660px;

                .top_block{
                    width: 100%;
                    align-items: center;

                    .building_img{
                        width: 435px;
                        height: 114.5px;
                    }

                    hr{
                        width: 83%;
                        border: none;
                        height: 2px;
                        background-color: var(--default_white);
                        margin: 25px 0;
                    }

                    .title{
                        font-family: 'RalewayExtraBold', sans-serif;
                        font-size: 25px;
                        color: var(--default_white);
                        margin: 0;
                        text-align: center;
                    }

                    .info{
                        font-size: 20px;
                        font-family: 'RalewayBold', sans-serif;
                        color: var(--default_white);
                        margin-top: 12px;
                        text-align: center;
                    }
                }

                .nav_block{

                    align-items: center;
                    row-gap: 30px;
                    width: 100%;

                    a{
                        text-decoration: none;
                        color: var(--default_white);
                        font-family: 'OpenSansSemibold', sans-serif;
                        font-size: 20px;
                    }

                    .nav_button_wrapper{
                        text-decoration: none;
                        cursor: pointer;
                        box-sizing: border-box;
                        position: relative;
                        color: var(--default_white);
                        justify-content: center;
                        overflow-y: hidden;
                        justify-content: flex-start;
                        align-items: center;
                        transition: all 0.3s ease-in;
        
                        span{
                            font-family: 'OpenSansSemiBold', sans-serif;
                            font-size: 19px;
                            
                        }
        
                        .dropdown_menu{
                            display: none;
                            top: calc(100% + 5px);
                            box-sizing: border-box;
                            padding: 20px 15px;
                            width: max-content;
                            max-width: 300px;
                            row-gap: 20px;
                            border-top: 1px solid var(--default_white);
        
                            .item_wrapper{
                                width: max-content;
                                max-width: 100%;
        
                                a{
                                    text-decoration: none;
                                    font-family: 'OpenSansRegular', sans-serif;
                                    font-size: 16px;
                                    color: inherit;
                                }
                            }
    
                        }
        
                    }
                }

                .lang_block{
                    margin-bottom: 15px;
                    width: 100%;
                    justify-content: center;

                }
            }
        }
    }

}

.middle_header{
    position: relative;
    background-color: var(--default_white);
    height: max-content;
    width: 100%;
    justify-content: center;
    color: var(--text_black_default);
    box-sizing: border-box;
    padding: 10px 0 25px 0;
    z-index: 101;

    .inner_wrapper{
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: var(--default_width);
        row-gap: 10px;

        img{
            height: 87.5px;
            width: 263px;
        }

        .logo_text{
            font-family: 'OpenSansExtraBold', sans-serif;
            font-size: 20px;
            margin: 0;
        }

        .lang_wrapper{
            position: absolute;
            right: 0;
            bottom: 0;
            color: black;

            .globe, .chevron_down{
                stroke: black !important;
            }
        }
    }
}

.lower_header{
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--sky_blue);
    color: var(--default_white);
    z-index: 100;
    position: sticky;
    top: -1px;

    .inner_wrapper{
        width: var(--default_width);
        justify-content: space-between;
        align-items: center;
        
        .nav_block{
            column-gap: 50px;

            .nav_button_wrapper{
                text-decoration: none;
                cursor: pointer;
                box-sizing: border-box;
                padding: 20px 10px;
                position: relative;

                span{
                    font-family: 'OpenSansSemiBold', sans-serif;
                    font-size: 16px;
                    color: var(--default_white);
                }

                .dropdown_menu{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 62.4px;
                    background-color: var(--sky_blue);
                    box-sizing: border-box;
                    padding: 20px 15px;
                    width: max-content;
                    max-width: 275px;
                    row-gap: 20px;
                    border-top: 1px solid var(--default_white);

                    .item_wrapper{
                        width: max-content;
                        max-width: 100%;

                        a{
                            text-decoration: none;
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 16px;
                            color: inherit;
                        }
                    }

                    &:hover{
                        display: flex;
                    }
                }

                &::after{
                    bottom: 15px !important;
                }

                &:hover {

                    .dropdown_menu{
                        display: flex;

                    }
                }
            }
        }

    }
}


footer {
    width: 100%;
    height: 321px;
    background-color: var(--sky_blue);
    color: var(--default_white);
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 0;

    .inner_wrapper {
        width: var(--default_width);
        justify-content: space-between;

        .left_column {
            width: 273px;
            height: 100%;
            align-items: center;
            color: var(--default_white);

            .image_wrapper {
                width: 100%;
                height: 87.5px;
                margin-bottom: 25px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 20px;
                margin: 0;
                text-transform: uppercase;
            }

            .description{
                font-size: 14px;
                font-family: 'OpenSansBold', sans-serif;
                margin: 0 0 25px 0;
                text-align: center;
            }

            .copyright_text{
                font-size: 12px;
                font-family: 'OpenSansRegular', sans-serif;
                margin: 0;
            }
        }

        .middle_column{
            width: 772px;
            height: 100%;

            .title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 18px;
                margin: 0 0 19px 0;
                text-transform: uppercase;
            }

            .description{
                font-family: 'OpenSansRegular', sans-serif;
                font-size: 16px;
                margin: 0;
            }
        }

        .right_column{
            width: 255px;
            height: 100%;
            row-gap: 10px;

            .title{
                font-family: 'OpenSansBold', sans-serif;
                font-size: 14px;
                margin: 0;
                color: var(--default_white);
            }

            .contact_row_wrapper{
                align-items: center;
                margin: 0;
                text-decoration: none;
                color: inherit;
                column-gap: 5px;

                span{
                    font-size: 14px;
                    font-family: 'OpenSansRegular', sans-serif;
                }
            }
        }
    }
}