header {
    
    .upper_block{
        transition: all 0.8s ease-in;
        height: 100vh;

        &.active{
            visibility: hidden;
            opacity: 0;
            height: 15vh;
        }
 
        .main{
            width: 100vw;
            height: 100vh;
            background-image: url('/img/header_main.jpg');
            background-size: cover;
            align-items: center;

            .topbar{
                width: var(--default_width);
                height: 80px;
                justify-content: space-between;
                margin-top: 10px;

                .logo_wrapper{
                    align-items: center;
                    column-gap: 10px;
                    text-decoration: none;

                    .logo_img{
                        width: 80px;
                        height: 80px;
                    }

                    .logo_text{
                        color: var(--default_white);
                        font-family: 'OpenSansExtraBold', sans-serif;
                        font-size: 20px;
                    }
                }

                .lang_hamburger_wrapper{
                    align-items: center;
                    column-gap: 22px;

                    .lang_wrapper{
                        align-items: center;
                        justify-content: center;
                        column-gap: 8px;
                        position: relative;
                        cursor: pointer;
                        transition: 0.2s all ease-in;
                        
                        .globe, .chevron_down{
                            width: 24px;
                            height: 24px;
                            transition: inherit;
                        }

                        .current_lang{
                            color: var(--default_white);
                            font-family: 'OpenSansRegular', sans-serif;
                            font-size: 16px;
                        }

                        .lang_menu{
                            display: none;
                        }

                        &.active{

                            .chevron_down{
                                transform: rotateZ(180deg);
                            }

                            .lang_menu{
                                display: flex;
                                position: absolute;
                                top: 100%;
                                background-color: var(--default_white);
                                width: 100%;
                                align-items: center;
                                row-gap: 5px;
                                box-sizing: border-box;
                                padding: 5px 0;
                                margin-top: 5px;

                                .lang_item{
                                    font-family: 'OpenSansRegular', sans-serif;
                                    font-size: 16px;
                                    color: var(--text_black_default);
                                }
                            }
                        }
                    }

                    .hamburger_wrapper{
                        width: 30px;
                        height: 20px;
                        position: relative;
                        justify-content: space-between;
                        cursor: pointer;

                        span{
                            width: 100%;
                            height: 2px;
                            background-color: var(--default_white);
                            border-radius: 10px;
                            position: absolute;
                            top: 50%;
                            transition: all 0.5s ease-in;

                            &::after, &::before{
                                content: '';
                                height: 2px;
                                width: 100%;
                                position: absolute;
                                background-color: var(--default_white);
                                transform: translateY(0.5em);
                                transition: inherit;
                            }

                            &::before{
                                transform: translateY(-0.5em);
                            }
                        }

                        &.active {
                            
                            span{

                                &::before{
                                    transform: rotateZ(-45deg) translate(3px, -5px);
                                    width: 50%;
                                }
                                
                                &::after{
                                    transform: rotateZ(45deg) translate(3px ,5px);
                                    width: 50%;
                                }
                            }
                        }

                    }
                }
            }

            .content{

                width: 100%;
                height: max-content;
                justify-content: center;
                align-items: center;
                margin-top: 225px;

                .inner_wrapper{
                    width: 952px;
                    height: 356px;
                    align-items: center;

                    .building_img{
                        width: 540px;
                        height: 184px;
                    }

                    hr{
                        width: 83%;
                        border: none;
                        height: 2px;
                        background-color: var(--default_white);
                        margin: 25px 0;
                    }

                    .title{
                        font-family: 'RalewayExtraBold', sans-serif;
                        font-size: 70px;
                        color: var(--default_white);
                        margin: 0;
                    }

                    .info{
                        font-size: 25px;
                        font-family: 'RalewayBold', sans-serif;
                        color: var(--default_white);
                        margin-top: 12px;
                    }
                }
            }

            .hamburger_menu {
                position: absolute;
                right: 0;
                top: 0;
                width: 50%;
                height: 100%;
                box-sizing: border-box;
                padding: 50px 0 66px 0;
                background-image: linear-gradient(to right, var(--gradient_background_1) , var(--gradient_background_2));
                transition: 0.4s all ease-in;
                transform: translateX(100%);
                align-items: center;

                &.active {
                    transform: translate(0%) !important;
                }

                .hamburger_button_wrapper {
                    position: absolute;
                    left: 50px;
                    top: 40px;

                    .hamburger_button{
                        width: 30px;
                        height: 2px;
                        background-color: var(--default_white);
                        
                        transform: rotateZ(45deg);

                        &::after{
                            content: '';
                            width: inherit;
                            height: inherit;
                            border: none;
                            background-color: var(--default_white);
                            transform: rotateZ(-90deg);
                            position: absolute;
                        }
                    }
                }

                .inner_wrapper{
                    align-items: center;
                    justify-content: space-between;
                    height: 100%;
                    width: 660px;

                    .top_block{
                        width: 100%;
                        align-items: center;

                        .building_img{
                            width: 435px;
                            height: 114.5px;
                        }

                        hr{
                            width: 83%;
                            border: none;
                            height: 2px;
                            background-color: var(--default_white);
                            margin: 25px 0;
                        }

                        .title{
                            font-family: 'RalewayExtraBold', sans-serif;
                            font-size: 25px;
                            color: var(--default_white);
                            margin: 0;
                            text-align: center;
                        }

                        .info{
                            font-size: 20px;
                            font-family: 'RalewayBold', sans-serif;
                            color: var(--default_white);
                            margin-top: 12px;
                            text-align: center;
                        }
                    }

                    .nav_block{

                        align-items: center;
                        row-gap: 35px;
                        width: 100%;

                        a{
                            text-decoration: none;
                            color: var(--default_white);
                            font-family: 'OpenSansSemibold', sans-serif;
                            font-size: 20px;

                        }
                    }

                    .lang_block{
                        margin-bottom: 15px;
                        width: 100%;
                        justify-content: center;

                        .lang_wrapper{
                            align-items: center;
                            justify-content: center;
                            column-gap: 8px;
                            position: relative;
                            cursor: pointer;
                            transition: 0.2s all ease-in;
                            
                            .globe, .chevron_down{
                                width: 24px;
                                height: 24px;
                                transition: inherit;
                            }
    
                            .current_lang{
                                color: var(--default_white);
                                font-family: 'OpenSansRegular', sans-serif;
                                font-size: 16px;
                            }
    
                            .lang_menu{
                                display: none;
                            }
    
                            &.active{
    
                                .chevron_down{
                                    transform: rotateZ(180deg);
                                }
    
                                .lang_menu{
                                    display: flex;
                                    position: absolute;
                                    top: 100%;
                                    background-color: var(--default_white);
                                    width: 100%;
                                    align-items: center;
                                    row-gap: 5px;
                                    box-sizing: border-box;
                                    padding: 5px 0;
                                    margin-top: 5px;
    
                                    .lang_item{
                                        font-family: 'OpenSansRegular', sans-serif;
                                        font-size: 16px;
                                        color: var(--text_black_default);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .lower_block{
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        background-color: var(--sky_blue);
        color: var(--default_white);

        .inner_wrapper{
            width: var(--default_width);
            justify-content: space-between;
            align-items: center;
            
            .nav_block{
                column-gap: 50px;

                .nav_button_wrapper{
                    text-decoration: none;
                    cursor: pointer;
                    box-sizing: border-box;
                    padding: 20px 10px;
                    position: relative;

                    span{
                        font-family: 'OpenSansSemiBold', sans-serif;
                        font-size: 16px;
                        color: var(--default_white);
                    }

                    .dropdown_menu{
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 63px;
                        background-color: var(--sky_blue);
                        box-sizing: border-box;
                        padding: 20px 15px;
                        width: max-content;
                        max-width: 275px;
                        row-gap: 20px;

                        .item_wrapper{
                            width: max-content;
                            max-width: 100%;

                            a{
                                text-decoration: none;
                                font-family: 'OpenSansRegular', sans-serif;
                                font-size: 16px;
                                color: inherit;
                            }
                        }

                        &:hover{
                            display: flex;
                        }
                    }

                    &::after{
                        bottom: 15px !important;
                    }

                    &:hover {

                        .dropdown_menu{
                            display: flex;

                        }
                    }
                }
            }

        }
    }
}

footer {
    width: 100%;
    height: 321px;
    background-color: var(--sky_blue);
    color: var(--default_white);
    justify-content: center;
    box-sizing: border-box;
    padding: 40px 0;

    .inner_wrapper {
        width: var(--default_width);
        justify-content: space-between;

        .left_column {
            width: 273px;
            height: 100%;
            align-items: center;

            .image_wrapper {
                width: 100%;
                height: 87.5px;
                margin-bottom: 25px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 20px;
                margin: 0;
                text-transform: uppercase;
            }

            .description{
                font-size: 14px;
                font-family: 'OpenSansBold', sans-serif;
                margin: 0 0 25px 0;
                text-align: center;
            }

            .copyright_text{
                font-size: 12px;
                font-family: 'OpenSansRegular', sans-serif;
                margin: 0;
            }
        }

        .middle_column{
            width: 772px;
            height: 100%;

            .title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 18px;
                margin: 0 0 25px 0;
                text-transform: uppercase;
            }

            .description{
                font-family: 'OpenSansRegular', sans-serif;
                font-size: 16px;
                margin: 0;
            }
        }

        .right_column{
            width: 255px;
            height: 100%;
            row-gap: 10px;

            .title{
                font-family: 'OpenSansBold', sans-serif;
                font-size: 14px;
                margin: 0;
            }

            .contact_row_wrapper{
                align-items: center;
                margin: 0;
                text-decoration: none;
                color: inherit;
                column-gap: 5px;

                span{
                    font-size: 14px;
                    font-family: 'OpenSansRegular', sans-serif;
                }
            }
        }
    }
}