
.sections_container{
    background-color: var(--default_white);
    position: relative;
    z-index: 1;

}

.news_section_main{
    width: 100%;
    justify-content: center;
    padding: 50px 0;

    .inner_wrapper{
        width: var(--default_width);

        .title_row{
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            .title{
                font-size: 30px;
                font-family: 'OpenSansBold', sans-serif;
                color: var(--text_black_default);
                margin: 0;
                text-transform: uppercase;
            }

            .news_page_link{
                align-items: center;
                column-gap: 5px;
                box-sizing: border-box;
                padding: 0 10px;
                text-decoration: none;
                color: var(--sky_blue);
                font-family: 'OpenSansBold', sans-serif;
                font-size: 16px;

                &.hover_underline::after {
                    background-color: var(--sky_blue);
                }
            }
        }

        .grid_block {
            display: grid;
            grid-template-columns: 44.45% 50.75%;
            grid-template-rows: 587px;
            justify-content: space-between;
            row-gap: 35px;

            .news_block_scroll{
                row-gap: 25px;
                overflow-y: auto;
            }

            .news_row_medium {
                grid-column-start: 1;
                grid-column-end: 3;
                justify-content: space-between;
                flex-wrap: wrap;
                row-gap: 25px;
            }
        }
    }

    @media(max-width: 1480px){
        .inner_wrapper{

            .grid_block{
                grid-template-columns: 46.45% 50.75%;

                .news_row_medium{
                    justify-content: space-evenly;

                    .news_container_medium:last-child{
                        display: none;
                    }
                }
            }
        }
    }

    @media(max-width: 1149px){
        .inner_wrapper{

            .grid_block{
                grid-template-columns: 81% 0%;
                justify-content: center;
                align-items: center;

                .news_block_scroll{
                    grid-column: 1/2;
                    height: 587px;    
                }

                .news_row_medium{
                    justify-content: space-around;
                    row-gap: 20px;
                    column-gap: 7px;

                    .news_container_medium:nth-child(4){
                        display: flex;
                    }
                }
            }
        }
    }

    @media(max-width: 899px){
        .inner_wrapper{

            .title_row{

                .title{
                    font-size: 25px;
                }

                .news_page_link{
                    display: none;
                }
            }

            .grid_block{
                grid-template-columns: 95% 0%;
                grid-template-rows: max-content;
            }
        }
    }

}

.activities_section{
    width: 100%;
    justify-content: center;
    color: var(--text_black_default);
    margin: 50px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 15px;

        .title{
            font-family: 'OpenSansExtraBold', sans-serif;
            font-size: 30px;
            margin: 0;
        }

        .activities_row{
            justify-content: space-between;
            width: 100%;
        }
    }

    @media(max-width: 1480px){
        .inner_wrapper{

            .activities_row{
                justify-content: space-evenly;
                flex-wrap: wrap;

                .activity_container:last-child{
                    display: none;
                }
            }
        }
    }

    @media (max-width: 1149px){
        .inner_wrapper{

            .activities_row{
                gap: 43px;

                .activity_container:last-child{
                    display: flex;
                }
            }
        }
    }

    @media(max-width:899px){
        .inner_wrapper{

            .title{
                font-size: 25px;
            }
        }
    }
}

.deputies_section{
    width: 100%;
    height: 692px;
    margin: 50px 0;
    justify-content: center;
    color: var(--text_black_default);

    .inner_wrapper{
        width: var(--default_width);

        .title{
            font-family: 'OpenSansExtraBold', sans-serif;
            font-size: 30px;
            margin: 0 0 15px 0;
            text-transform: uppercase;
        }

        .content_block{
            width: 100%;
            height: 636px;
            justify-content: space-between;

            .map_block{
                width: 946px;
                height: 100%;
                align-items: center;

                .map_wrapper{
                    width: 100%;
                    // height: 568px;
                    height: max-content;
                    position: relative;

                    svg{
                        width: 100%;
                        height: max-content;

                        .region{
                            fill: var(--region_fill);
                            stroke: var(--region_stroke);
                            stroke-width: 2;

                            &.active{
                                fill: var(--region_fill_hover);
                                stroke: var(--region_stroke_hover);
                            }
                        }

                    }

                    .region_name{
                        position: absolute;
                        display: none;
                        font-family: 'OpenSansBold', sans-serif;
                        font-size: 25px;
                        color: var(--map_text_color);

                        &.active{
                            display: inline-block;
                        }

                        &[data-region-id='balkan_region']{
                            top: 34%;
                            left: 13%;
                        }

                        &[data-region-id='dashoguz_region']{
                            top: 19%;
                            left: 37%;
                        }

                        &[data-region-id='lebap_region']{
                            top: 48%;
                            right: 22%;
                        }

                        &[data-region-id='mary_region']{
                            bottom: 26%;
                            right: 29%;
                        }

                        &[data-region-id='ahal_region']{
                            bottom: 45%;
                            left: 39%;
                        }

                        &#ashgabat_city{
                            color: var(--sky_blue);
                            bottom: 25%;
                            left: 34.4%;
                        }
                    }
                }
            }

            .deputies_block_scroll{
                box-sizing: border-box;
                padding: 15px;
                height: 100%;
                width: 425px;
                background-color: var(--container_background_blue);
                overflow-y: scroll;

                .region_wrapper{
                    display: none;

                    .region_name{
                        font-family: 'OpenSansExtraBold', sans-serif;
                        font-size: 25px;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    .deputy_wrapper{
                        color: var(--text_black_default);

                        .name{
                            font-family: 'OpenSansBold', sans-serif;
                            font-size: 16px;
                            color: var(--sky_blue);
                            margin: 0;
                        }

                        .district{
                            font-size: 14px;
                            font-family: 'OpenSansRegular', sans-serif;
                            margin: 0;
                        }
                    }

                    hr{
                        border: none;
                        background-color: #EAEAEA;
                        outline: none;
                        height: 1px;
                        margin: 15px 0;
                    }

                    &.active{
                        display: block;
                    }
                }
            }
        }
    }

    @media(max-width: 1500px){
        .inner_wrapper{

            .content_block{

                .map_block{
                    width: 68%;

                    .map_wrapper{

                        .region_name{
                            font-size: 1.8vw;
                        }
                    }
                }

                .deputies_block_scroll{
                    width: 31%;
                }
            }
        }
    }

    @media(max-width: 900px){
        display: none;
    }
}

.legislation_section{
    width: 100%;
    justify-content: center;
    color: var(--text_black_default);
    margin: 50px 0;

    .inner_wrapper{
        width: var(--default_width);

        .section_title{
            font-family: 'OpenSansExtraBold', sans-serif;
            font-size: 30px;
            margin: 0 0 15px 0;
            text-transform: uppercase;
        }

        .content_row{
            justify-content: space-between;

            .legislation_container{
                width: 340px;
                height: 245px;
                box-sizing: border-box;
                padding: 10px 15px;
                justify-content: space-between;
                cursor: pointer;

                &:hover{

                    .bottom_row{

                        a.hover_underline::after{
                            width: 100%;
                            left: 0;
                            background-color: var(--sky_blue);
                        }
                    }
                }

                .upper_block{
                    align-items: center;
                    row-gap: 13px;

                    .icon{
                        width: 113px;
                        height: 19px;
                    }

                    .title{
                        font-family: 'OpenSansSemibold', sans-serif;
                        font-size: 16px;
                        margin: 0;
                        text-transform: uppercase;
                        line-clamp: 7 !important;
                        -webkit-line-clamp: 7 !important;
                    }
                }

                .bottom_row{
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    .date{
                        font-family: 'OpenSansRegular', sans-serif;
                        font-size: 14px;
                        color: var(--text_gray);
                    }

                    a{
                        text-decoration: none;
                        color: var(--sky_blue);
                        align-items: center;
                        column-gap: 10px;
                        // border-bottom: 1px solid var(--sky_blue);
                        font-family: 'OpenSansRegular', sans-serif;
                        font-size: 14px;

                        &::after {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 1480px){
        .inner_wrapper{

            .content_row{
                justify-content: space-evenly;
                flex-wrap: wrap;

                .legislation_container:last-child{
                    display: none;
                }
            }
        }
    }

    @media (max-width: 1149px){
        .inner_wrapper{

            .content_row{
                gap: 36px;

                .legislation_container:last-child{
                    display: flex;
                }
            }
        }
    }

    @media(max-width:899px){
        .inner_wrapper{

            .section_title{
                font-size: 25px;
            }
        }
    }
}

.websites_section{
    width: 100%;
    justify-content: center;
    margin: 50px 0;
    color: var(--text_black_default);
    height: 238px;

    .inner_wrapper{
        width: var(--default_width);

        .title_row{
            justify-content: space-between;
            height: 41px;
            align-items: center;
            margin: 0 0 15px 0;

            .title{
                font-family: 'OpenSansExtraBold', sans-serif;
                font-size: 30px;
                text-transform: uppercase;
            }

            .buttons_block{

                .arrow_left, .arrow_right{
                    stroke: var(--text_black_default);

                    path, circle{
                        stroke: inherit;
                    }

                    &:hover{
                        stroke: var(--sky_blue);
                    }
                }
            }
        }
        
        .content_block{
            justify-content: space-between;
            column-gap: 24px;

            .website_container{
                width: 269px;
                height: 182px;
                align-items: center;
                row-gap: 15px;
                background-color: var(--container_background_blue);
                box-sizing: border-box;
                padding: 10px;
                color: var(--text_black_default);
                flex-shrink: 0;

                .icon{
                    width: max-content;
                    height: max-content;
                    max-width: 90px;
                    max-height: 90px;
                }

                .content{
                    font-family: 'OpenSansMedium', sans-serif;
                    font-size: 14px;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
    }

    @media(max-width:899px){
        .inner_wrapper{

            .title_row{

                .title{
                    font-size: 25px;
                }
            }
        }
    }
}