
.mejlis_activities_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 35px 0;

    .inner_wrapper{
        width: var(--default_width);

        .breadcrumbs_row{
            margin: 0 0 35px 0;
        }

        .page_content_block{
            width: 100%;
            column-gap: 80px;
            color: var(--text_black_default);
            position: relative;

            .activities_block{
                width: -webkit-fill-available;
                width: -moz-available;
                width: -ms-available;

                .block_title{
                    font-family: 'OpenSansExtraBold', sans-serif;
                    font-size: 30px;
                    margin: 0 0 15px 0;
                    text-transform: uppercase;
                }

                .activities_row{
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    gap: 25px;

                }
            }
        }

        .pagination_row{
            margin-top: 35px;
        }
    }

    @media(max-width: 999px){

        .inner_wrapper{

            .page_content_block{

                .activities_block{
                    box-sizing: border-box;
                    padding: 0 10px;

                    .block_title{
                        font-size: 25px;
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}