.mejlis_deputies_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 35px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 35px;


        .page_content_block{
            width: 100%;
            column-gap: 75px;

            .right_block{
                width: 1075px;
                row-gap: 25px;

                .title_row{
                    justify-content: space-between;
                    width: 100%;
                    align-items: center;

                    .title{
                        font-size: 25px;
                        font-family: 'OpenSansExtraBold', sans-serif;
                        text-align: center;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    .select_block{

                        select{
                            font-size: 14px;
                            font-family: 'OpenSansRegular', sans-serif;
                            color: var(--text_gray);
                            box-sizing: border-box;
                            padding: 10px 150px 10px 10px;
                            border: 1px solid #EAEAEA;
                            background: var(--text_gray_4);
                            background-color: var(--default_white);
                            outline: none;
                        }
                    }
                }

                .letters_row{
                    color: var(--text_gray_3);
                    column-gap: 15px;

                    .letter{
                        font-family: 'OpenSansBold', sans-serif;
                        font-size: 18px;
                    }
                }

                .deputies_block{
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    row-gap: 25px;

                    .deputy_container{
                        width: 527px;
                        height: 240px;
                        background-color: var(--container_background_blue);
                        box-sizing: border-box;
                        padding: 20px;
                        row-gap: 10px;
                        flex-shrink: 0;
                        cursor: pointer;

                        .name{
                            font-size: 16px;
                            font-family: 'OpenSansBold', sans-serif;
                            color: var(--sky_blue);
                            cursor: pointer;
                        }

                        .key_value_wrapper{
                            row-gap: 5px;
                            max-width: 73%;

                            .key{
                                font-family: 'OpenSansBold', sans-serif;
                                font-size: 14px;
                            }

                            .value{
                                font-size: 14px;
                                font-family: 'OpenSansRegular', sans-serif;
                            }
                        }
                    }
                }
            }

            
        }
    }
}