.single_deputy_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 35px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 35px;

        .page_content_block{
            width: 100%;
            column-gap: 75px;
            position: relative;

            .right_block{
                width: 619px;
                row-gap: 25px;

                .name{
                    font-size: 30px;
                    font-family: 'OpenSansExtraBold', sans-serif;
                    margin: 0;
                    text-transform: uppercase;
                    color: var(--sky_blue);
                }

                .key_value_wrapper{
                    column-gap: 15px;
                    color: var(--text_black_default);

                    .key{
                        font-size: 14px;
                        font-family: 'OpenSansBold', sans-serif;
                        min-width: 37.3%;
                    }

                    .value{
                        font-family: 'OpenSansRegular', sans-serif;
                        font-size: 14px;
                        row-gap: 10px;

                        &.link{
                            color: var(--sky_blue);
                            cursor: pointer;
                        }
                        p{
                            margin: 0;
                        }
                    }

                    #election_district_wrapper, #deputy_bio_wrapper{
                        overflow-y: hidden !important;
                        transition: all 0.3s ease-in;
                        row-gap: 20px;

                        .district_borders_text, .deputy_bio_text {
                            display: none;
                            color: var(--text_black_default);
                        }

                    }
                }

            }

            
        }
    }

    @media(max-width: 999px){
        .inner_wrapper{

            .page_content_block{

                .right_block{
                    box-sizing: border-box;
                    padding: 0 10px;
                    
                    .name{
                        padding-left: 15px;
                    }
                }
            }
        }
    }

    @media(max-width: 600px){
        .inner_wrapper{

            .page_content_block{

                .right_block{

                    .name{
                        font-size: 23px;
                    }

                    .key_value_wrapper{
                        flex-direction: column;
                        row-gap: 15px;
                    }
                }
            }
        }
    }
}