.single_news_international_page{
    width: 100%;
    justify-content: center;
    margin: 10px 0 50px 0;

    .inner_wrapper{
        width: var(--default_width);
        row-gap: 50px;


        .page_content_block{
            width: 100%;
            column-gap: 80px;
            position: relative;

            .news_content_block{
                color: var(--text_black_default);
                row-gap: 15px;
                width: 1070px;
                align-items: center;

                .images_wrapper{
                    max-width: 886px;
                    max-height: 503.5px;
                    width: 82.85%;
                    height: max-content;
                    justify-content: space-between;

                    .image_big{
                        width: 85.6%;
                        height: 100%;
                    }

                    .small_images_wrapper{
                        width: 13.2%;
                        justify-content: center;
                        height: 100%;
                        row-gap: 15px;

                        .image_small{
                            width: 100%;
                        }
                    }
                        
                }

                .date_row{
                    justify-content: center;
                    position: relative;
                    width: 100%;

                    .icon{
                        position: absolute;
                    }

                    .date{
                        width: 100%;
                        text-align: end;
                        font-family: 'OpenSansRegular', sans-serif;
                        font-size: 18px;
                    }
                }

                .news_title{
                    font-family: 'OpenSansExtraBold', sans-serif;
                    font-size: 25px;
                    margin: 0;
                    text-align: center;
                }

                .news_content{

                    p{
                        font-family: 'OpenSansRegular', sans-serif !important;
                        font-size: 16px !important;
                        margin: 0 !important;
                    }
                }
            }            
        }

        .pagination_row{
            margin-top: 0;
        }
    }

    @media(max-width: 1400px) {
        .inner_wrapper{

            .page_content_block{
                column-gap: 40px;
            }
        }
    }

    @media(max-width: 999px){
        .inner_wrapper{

            .page_content_block{

                .sidebar_left{
                    top: -35px;
                }

                .news_content_block{
                    box-sizing: border-box;
                    padding: 0 10px;

                    .news_title{
                        font-size: 21px;
                    }

                    .date_row{

                        .date{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 600px){
        .inner_wrapper{

            .page_content_block{

                .news_content_block{

                    .images_wrapper{
                        width: 100%;

                        .small_images_wrapper{
                            row-gap: 10px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 400px){
        .inner_wrapper{

            .page_content_block{

                .news_content_block{

                    .date_row{
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        row-gap: 5px;

                        .date{
                            width: max-content;
                        }

                        .icon{
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}