.articles_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 35px 0; }
  .articles_page .inner_wrapper {
    width: var(--default_width); }
    .articles_page .inner_wrapper .breadcrumbs_row {
      margin: 0 0 35px 0; }
    .articles_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 80px;
      color: var(--text_black_default);
      position: relative; }
      .articles_page .inner_wrapper .page_content_block .articles_block {
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available; }
        .articles_page .inner_wrapper .page_content_block .articles_block .block_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 30px;
          margin: 0 0 15px 0;
          text-transform: uppercase; }
        .articles_page .inner_wrapper .page_content_block .articles_block .articles_row {
          justify-content: space-evenly;
          flex-wrap: wrap;
          row-gap: 25px;
          column-gap: 25px; }
          .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container {
            max-width: 340px;
            width: 86vw;
            height: 311px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            padding: 10px 15px;
            justify-content: space-between;
            flex-shrink: 0;
            cursor: pointer; }
            .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .top_block {
              align-items: center; }
              .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .top_block .icon {
                width: 113px;
                height: 19px; }
              .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .top_block .title {
                width: 100%;
                margin: 15px 0 5px 0;
                font-family: 'OpenSansSemiBold', sans-serif;
                font-size: 16px; }
              .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .top_block .content {
                margin: 0;
                font-family: 'OpenSansRegular', sans-serif;
                font-size: 14px;
                line-clamp: 8;
                -webkit-line-clamp: 8; }
            .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .bottom_row {
              justify-content: space-between;
              align-items: center;
              font-family: 'OpenSansRegular', sans-serif;
              font-size: 14px; }
              .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .bottom_row .date {
                color: var(--text_gray_6); }
              .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .bottom_row a {
                align-items: center;
                color: var(--sky_blue);
                column-gap: 10px; }
                .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container .bottom_row a::after {
                  background-color: var(--sky_blue);
                  bottom: 0; }
            .articles_page .inner_wrapper .page_content_block .articles_block .articles_row .article_container:hover a.hover_underline::after {
              background-color: var(--sky_blue);
              width: 100%;
              left: 0; }
    .articles_page .inner_wrapper .pagination_row {
      margin-top: 35px; }
  @media (max-width: 999px) {
    .articles_page .inner_wrapper .page_content_block .articles_block {
      box-sizing: border-box;
      padding: 0 10px; }
      .articles_page .inner_wrapper .page_content_block .articles_block .block_title {
        font-size: 25px;
        padding-left: 15px; } }
