.codes_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .codes_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .codes_page .inner_wrapper .breadcrumbs_row {
      font-size: 16px;
      font-family: 'OpenSansRegular', sans-serif;
      color: var(--text_gray_2); }
      .codes_page .inner_wrapper .breadcrumbs_row span {
        color: var(--sky_blue); }
    .codes_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 80px; }
      .codes_page .inner_wrapper .page_content_block .right_side {
        color: var(--text_black_default);
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available;
        row-gap: 35px; }
        .codes_page .inner_wrapper .page_content_block .right_side .block_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 30px;
          margin: 0; }
        .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row {
          justify-content: space-between; }
          .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container {
            width: 340px;
            height: 160px;
            background-color: var(--container_background_blue);
            align-items: center;
            justify-content: center; }
            .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container svg {
              fill: var(--sky_blue); }
              .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container svg path, .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container svg circle {
                fill: inherit;
                stroke: inherit; }
            .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container .button_title {
              font-family: 'OpenSansBold', sans-serif;
              font-size: 25px; }
            .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container.active {
              background-color: var(--sky_blue); }
              .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container.active svg {
                fill: var(--default_white); }
              .codes_page .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container.active .button_title {
                color: var(--default_white); }
        .codes_page .inner_wrapper .page_content_block .right_side .select_row {
          column-gap: 15px; }
          .codes_page .inner_wrapper .page_content_block .right_side .select_row select {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px;
            color: var(--text_gray);
            outline: none;
            border: 1px solid var(--text_gray_4);
            background-color: var(--default_white);
            box-sizing: border-box;
            padding: 10px 157px 10px 10px; }
        .codes_page .inner_wrapper .page_content_block .right_side .codes_block {
          flex-wrap: wrap;
          row-gap: 25px;
          justify-content: space-between; }
          .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container {
            width: 340px;
            height: 245px;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 10px 15px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
            flex-shrink: 0; }
            .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .top_block {
              align-items: center;
              row-gap: 13px; }
              .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .top_block .icon {
                width: 113px;
                height: 19px; }
              .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .top_block .code_description {
                font-family: 'OpenSansSemiBold', sans-serif;
                font-size: 16px;
                color: var(--text_black_default);
                margin: 0;
                text-transform: uppercase; }
            .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .bottom_row {
              justify-content: space-between;
              width: 100%; }
              .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .bottom_row .date {
                font-family: 'OpenSansRegular', sans-serif;
                font-size: 14px;
                color: var(--text_gray_6); }
              .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .bottom_row a {
                align-items: center;
                column-gap: 5px;
                color: var(--sky_blue); }
                .codes_page .inner_wrapper .page_content_block .right_side .codes_block .code_container .bottom_row a::after {
                  background-color: var(--sky_blue);
                  bottom: 0; }
          .codes_page .inner_wrapper .page_content_block .right_side .codes_block .pagination_row {
            margin: 0; }
