.codes_laws_decrees_pages {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .codes_laws_decrees_pages .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .codes_laws_decrees_pages .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 80px;
      position: relative;
      position: relative; }
      .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side {
        color: var(--text_black_default);
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available;
        row-gap: 35px; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .block_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 30px;
          margin: 0;
          text-transform: uppercase;
          line-height: 1; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row {
          justify-content: space-between;
          flex-wrap: wrap;
          column-gap: 15px;
          row-gap: 15px; }
          .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container {
            width: 31.7%;
            height: 160px;
            background-color: var(--container_background_blue);
            align-items: center;
            justify-content: center;
            color: var(--text_black_default);
            min-width: 270px;
            row-gap: 5px; }
            .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container svg {
              fill: var(--sky_blue);
              width: 60px;
              height: 60px; }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container svg path, .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container svg circle {
                fill: inherit;
                stroke: inherit; }
            .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container .button_title {
              font-family: 'OpenSansBold', sans-serif;
              font-size: 25px;
              text-transform: uppercase;
              text-align: center; }
            .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container.active {
              background-color: var(--sky_blue); }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container.active svg {
                fill: var(--default_white); }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row .button_container.active .button_title {
                color: var(--default_white); }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .search_row {
          column-gap: 15px;
          row-gap: 15px;
          flex-wrap: wrap; }
          .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .search_row select, .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .search_row input {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px;
            color: var(--text_gray);
            outline: none;
            border: 1px solid var(--text_gray_4);
            background-color: var(--default_white);
            box-sizing: border-box;
            padding: 10px 146px 10px 10px; }
          .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .search_row input {
            padding: 10px 10px 10px 10px;
            width: 300px; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block {
          flex-wrap: wrap;
          row-gap: 25px;
          column-gap: 25px;
          justify-content: space-evenly; }
          .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container {
            max-width: 340px;
            width: 85vw;
            height: 245px;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 10px 15px;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
            flex-shrink: 0;
            cursor: pointer; }
            .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .top_block {
              align-items: center;
              row-gap: 13px; }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .top_block .icon {
                width: 113px;
                height: 19px; }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .top_block .title {
                font-family: 'OpenSansSemiBold', sans-serif;
                font-size: 16px;
                color: var(--text_black_default);
                margin: 0;
                text-transform: uppercase;
                line-clamp: 7 !important;
                -webkit-line-clamp: 7 !important; }
            .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .bottom_row {
              justify-content: space-between;
              width: 100%;
              font-family: 'OpenSansRegular', sans-serif;
              font-size: 14px; }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .bottom_row .date {
                color: var(--text_gray_6); }
              .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .bottom_row a {
                align-items: center;
                column-gap: 5px;
                color: var(--sky_blue); }
                .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container .bottom_row a::after {
                  background-color: var(--sky_blue);
                  bottom: 0; }
            .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .item_container:hover a.hover_underline::after {
              background-color: var(--sky_blue);
              width: 100%;
              left: 0; }
          .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .items_block .pagination_row {
            margin: 0; }
  @media (max-width: 1400px) {
    .codes_laws_decrees_pages .inner_wrapper .page_content_block {
      column-gap: 50px; }
      .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row {
        justify-content: space-around; } }
  @media (max-width: 999px) {
    .codes_laws_decrees_pages .inner_wrapper .page_content_block {
      column-gap: 50px; }
      .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side {
        box-sizing: border-box;
        padding: 0 10px; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .block_title {
          font-size: 25px;
          margin-left: 15px; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .nav_buttons_row {
          display: none; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .search_row input {
          width: 245px; }
        .codes_laws_decrees_pages .inner_wrapper .page_content_block .right_side .search_row select {
          padding: 10px;
          width: 245px; } }
