.sections_container {
  background-color: var(--default_white);
  position: relative;
  z-index: 1; }

.news_section_main {
  width: 100%;
  justify-content: center;
  padding: 50px 0; }
  .news_section_main .inner_wrapper {
    width: var(--default_width); }
    .news_section_main .inner_wrapper .title_row {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px; }
      .news_section_main .inner_wrapper .title_row .title {
        font-size: 30px;
        font-family: 'OpenSansBold', sans-serif;
        color: var(--text_black_default);
        margin: 0;
        text-transform: uppercase; }
      .news_section_main .inner_wrapper .title_row .news_page_link {
        align-items: center;
        column-gap: 5px;
        box-sizing: border-box;
        padding: 0 10px;
        text-decoration: none;
        color: var(--sky_blue);
        font-family: 'OpenSansBold', sans-serif;
        font-size: 16px; }
        .news_section_main .inner_wrapper .title_row .news_page_link.hover_underline::after {
          background-color: var(--sky_blue); }
    .news_section_main .inner_wrapper .grid_block {
      display: grid;
      grid-template-columns: 44.45% 50.75%;
      grid-template-rows: 587px;
      justify-content: space-between;
      row-gap: 35px; }
      .news_section_main .inner_wrapper .grid_block .news_container_big {
        height: 100%;
        width: 100%;
        justify-content: space-between; }
        .news_section_main .inner_wrapper .grid_block .news_container_big .image_wrapper {
          width: 100%;
          height: 429px; }
          .news_section_main .inner_wrapper .grid_block .news_container_big .image_wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .news_section_main .inner_wrapper .grid_block .news_container_big .title {
          font-size: 18px;
          font-family: 'OpenSansBold', sans-serif;
          color: var(--text_black_default);
          margin: 0; }
        .news_section_main .inner_wrapper .grid_block .news_container_big .content {
          font-size: 14px;
          font-family: 'OpenSansRegular', sans-serif;
          color: var(--text_black_default);
          margin: 0; }
        .news_section_main .inner_wrapper .grid_block .news_container_big .date {
          font-size: 12px;
          font-family: 'OpenSansRegular', sans-serif;
          color: var(--text_gray); }
      .news_section_main .inner_wrapper .grid_block .news_block_scroll {
        row-gap: 25px;
        overflow-y: scroll; }
        .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small {
          align-items: center;
          column-gap: 20px;
          width: 100%;
          height: 147px;
          min-height: 147px; }
          .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small .image_wrapper {
            width: 28.2%;
            height: max-content;
            align-items: center; }
            .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small .image_wrapper img {
              min-width: 100%;
              height: max-content; }
          .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small .content_block {
            justify-content: space-between;
            height: 100%;
            box-sizing: border-box;
            padding: 0 10px 0 0; }
            .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small .content_block .title {
              margin: 0;
              font-size: 16px;
              font-family: 'OpenSansSemiBold', sans-serif;
              color: var(--text_black_default); }
            .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small .content_block .content {
              font-size: 14px;
              font-family: 'OpenSansRegular', sans-serif;
              color: var(--text_black_default);
              margin: 0; }
            .news_section_main .inner_wrapper .grid_block .news_block_scroll .news_container_small .content_block .date {
              font-size: 12px;
              font-family: 'OpenSansRegular', sans-serif;
              color: var(--text_gray); }
      .news_section_main .inner_wrapper .grid_block .news_row_medium {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 28px;
        row-gap: 35px; }
        .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium {
          width: 340px;
          height: 392px;
          color: var(--text_black_default);
          flex-shrink: 0; }
          .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium .image_wrapper {
            width: 100%;
            height: 226px; }
            .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium .image_wrapper img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium .content_wrapper {
            justify-content: space-between;
            height: 100%;
            box-sizing: border-box;
            padding: 10px; }
            .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium .content_wrapper .title {
              font-family: 'OpenSansSemiBold', sans-serif;
              font-size: 16px;
              margin: 0; }
            .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium .content_wrapper .content {
              font-family: 'OpenSansRegular', sans-serif;
              font-size: 14px;
              margin: 0; }
            .news_section_main .inner_wrapper .grid_block .news_row_medium .news_container_medium .content_wrapper .date {
              font-family: 'OpenSansRegular', sans-serif;
              font-size: 12px;
              color: var(--text_gray); }

.activities_section {
  width: 100%;
  justify-content: center;
  color: var(--text_black_default);
  margin: 50px 0; }
  .activities_section .inner_wrapper {
    width: var(--default_width);
    row-gap: 15px; }
    .activities_section .inner_wrapper .title {
      font-family: 'OpenSansExtraBold', sans-serif;
      font-size: 30px;
      margin: 0; }
    .activities_section .inner_wrapper .activities_row {
      justify-content: space-between;
      width: 100%; }
      .activities_section .inner_wrapper .activities_row .activity_container {
        width: 340px;
        height: 311px;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 15px;
        cursor: pointer; }
        .activities_section .inner_wrapper .activities_row .activity_container:hover .bottom_row a.hover_underline::after {
          background-color: var(--sky_blue);
          width: 100%;
          left: 0; }
        .activities_section .inner_wrapper .activities_row .activity_container .icon {
          width: 117;
          height: 21; }
        .activities_section .inner_wrapper .activities_row .activity_container .title {
          font-family: 'OpenSansSemibold', sans-serif;
          font-size: 16px;
          margin: 0;
          text-transform: uppercase; }
        .activities_section .inner_wrapper .activities_row .activity_container .content {
          font-family: 'OpenSansRegular', sans-serif;
          font-size: 14px;
          margin: 0;
          line-clamp: 7 !important;
          -webkit-line-clamp: 7 !important; }
        .activities_section .inner_wrapper .activities_row .activity_container .bottom_row {
          justify-content: space-between;
          width: 100%;
          align-items: center; }
          .activities_section .inner_wrapper .activities_row .activity_container .bottom_row .date {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px;
            color: var(--text_gray); }
          .activities_section .inner_wrapper .activities_row .activity_container .bottom_row a {
            align-items: center;
            column-gap: 10px;
            text-decoration: none;
            font-size: 14px;
            font-family: 'OpenSansRegular', sans-serif;
            color: var(--sky_blue); }
            .activities_section .inner_wrapper .activities_row .activity_container .bottom_row a::after {
              width: 0; }

.deputies_section {
  width: 100%;
  height: 692px;
  margin: 50px 0;
  justify-content: center;
  color: var(--text_black_default); }
  .deputies_section .inner_wrapper {
    width: var(--default_width); }
    .deputies_section .inner_wrapper .title {
      font-family: 'OpenSansExtraBold', sans-serif;
      font-size: 30px;
      margin: 0 0 15px 0;
      text-transform: uppercase; }
    .deputies_section .inner_wrapper .content_block {
      width: 100%;
      height: 636px;
      justify-content: space-between; }
      .deputies_section .inner_wrapper .content_block .map_block {
        width: 946px;
        height: 100%;
        align-items: center; }
        .deputies_section .inner_wrapper .content_block .map_block .map_wrapper {
          width: 100%;
          height: 568px;
          position: relative; }
          .deputies_section .inner_wrapper .content_block .map_block .map_wrapper svg {
            width: 100%;
            height: 100%; }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper svg .region {
              fill: var(--region_fill);
              stroke: var(--region_stroke);
              stroke-width: 2; }
              .deputies_section .inner_wrapper .content_block .map_block .map_wrapper svg .region.active {
                fill: var(--region_fill_hover);
                stroke: var(--region_stroke_hover); }
          .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name {
            position: absolute;
            display: none;
            font-family: 'OpenSansBold', sans-serif;
            font-size: 25px;
            color: var(--map_text_color); }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name.active {
              display: inline-block; }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name[data-region-id='balkan_region'] {
              top: 34%;
              left: 13%; }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name[data-region-id='dashoguz_region'] {
              top: 19%;
              left: 37%; }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name[data-region-id='lebap_region'] {
              top: 48%;
              right: 22%; }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name[data-region-id='mary_region'] {
              bottom: 26%;
              right: 29%; }
            .deputies_section .inner_wrapper .content_block .map_block .map_wrapper .region_name[data-region-id='ahal_region'] {
              bottom: 45%;
              left: 39%; }
      .deputies_section .inner_wrapper .content_block .deputies_block_scroll {
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
        width: 425px;
        background-color: var(--container_background_blue);
        overflow-y: scroll; }
        .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper {
          display: none; }
          .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper .region_name {
            font-family: 'OpenSansExtraBold', sans-serif;
            font-size: 25px;
            text-transform: uppercase;
            margin: 0; }
          .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper .deputy_wrapper {
            color: var(--text_black_default); }
            .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper .deputy_wrapper .name {
              font-family: 'OpenSansBold', sans-serif;
              font-size: 16px;
              color: var(--sky_blue);
              margin: 0; }
            .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper .deputy_wrapper .district {
              font-size: 14px;
              font-family: 'OpenSansRegular', sans-serif;
              margin: 0; }
          .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper hr {
            border: none;
            background-color: #EAEAEA;
            outline: none;
            height: 1px;
            margin: 15px 0; }
          .deputies_section .inner_wrapper .content_block .deputies_block_scroll .region_wrapper.active {
            display: block; }

.legislation_section {
  width: 100%;
  justify-content: center;
  color: var(--text_black_default);
  margin: 50px 0; }
  .legislation_section .inner_wrapper {
    width: var(--default_width); }
    .legislation_section .inner_wrapper .title {
      font-family: 'OpenSansExtraBold', sans-serif;
      font-size: 30px;
      margin: 0 0 15px 0;
      text-transform: uppercase; }
    .legislation_section .inner_wrapper .content_row {
      justify-content: space-between; }
      .legislation_section .inner_wrapper .content_row .legislation_container {
        width: 340px;
        height: 245px;
        box-sizing: border-box;
        padding: 10px 15px;
        justify-content: space-between;
        cursor: pointer; }
        .legislation_section .inner_wrapper .content_row .legislation_container:hover .bottom_row a.hover_underline::after {
          width: 100%;
          left: 0;
          background-color: var(--sky_blue); }
        .legislation_section .inner_wrapper .content_row .legislation_container .upper_block {
          align-items: center;
          row-gap: 13px; }
          .legislation_section .inner_wrapper .content_row .legislation_container .upper_block .icon {
            width: 113px;
            height: 19px; }
          .legislation_section .inner_wrapper .content_row .legislation_container .upper_block .content {
            font-family: 'OpenSansSemibold', sans-serif;
            font-size: 16px;
            margin: 0;
            text-transform: uppercase;
            line-clamp: 7;
            -webkit-line-clamp: 7; }
        .legislation_section .inner_wrapper .content_row .legislation_container .bottom_row {
          justify-content: space-between;
          align-items: center;
          width: 100%; }
          .legislation_section .inner_wrapper .content_row .legislation_container .bottom_row .date {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px;
            color: var(--text_gray); }
          .legislation_section .inner_wrapper .content_row .legislation_container .bottom_row a {
            text-decoration: none;
            color: var(--sky_blue);
            align-items: center;
            column-gap: 10px;
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px; }
            .legislation_section .inner_wrapper .content_row .legislation_container .bottom_row a::after {
              width: 0; }

.websites_section {
  width: 100%;
  justify-content: center;
  margin: 50px 0;
  color: var(--text_black_default);
  height: 238px; }
  .websites_section .inner_wrapper {
    width: var(--default_width); }
    .websites_section .inner_wrapper .title_row {
      justify-content: space-between;
      height: 41px;
      align-items: center;
      margin: 0 0 15px 0; }
      .websites_section .inner_wrapper .title_row .title {
        font-family: 'OpenSansExtraBold', sans-serif;
        font-size: 30px;
        text-transform: uppercase; }
      .websites_section .inner_wrapper .title_row .buttons_block .arrow_left, .websites_section .inner_wrapper .title_row .buttons_block .arrow_right {
        stroke: var(--text_black_default); }
        .websites_section .inner_wrapper .title_row .buttons_block .arrow_left path, .websites_section .inner_wrapper .title_row .buttons_block .arrow_left circle, .websites_section .inner_wrapper .title_row .buttons_block .arrow_right path, .websites_section .inner_wrapper .title_row .buttons_block .arrow_right circle {
          stroke: inherit; }
        .websites_section .inner_wrapper .title_row .buttons_block .arrow_left:hover, .websites_section .inner_wrapper .title_row .buttons_block .arrow_right:hover {
          stroke: var(--sky_blue); }
    .websites_section .inner_wrapper .content_block {
      justify-content: space-between;
      overflow-x: scroll;
      column-gap: 24px; }
      .websites_section .inner_wrapper .content_block .website_container {
        width: 269px;
        height: 182px;
        align-items: center;
        row-gap: 15px;
        background-color: var(--container_background_blue);
        box-sizing: border-box;
        padding: 10px;
        color: var(--text_black_default);
        flex-shrink: 0; }
        .websites_section .inner_wrapper .content_block .website_container .icon {
          width: 90px;
          height: 90px; }
        .websites_section .inner_wrapper .content_block .website_container .content {
          font-family: 'OpenSansMedium', sans-serif;
          font-size: 14px;
          margin: 0;
          text-transform: uppercase;
          text-align: center; }
