.mejlis_deputies_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 35px 0; }
  .mejlis_deputies_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 35px; }
    .mejlis_deputies_page .inner_wrapper .breadcrumbs_row {
      font-size: 16px;
      font-family: 'OpenSansRegular', sans-serif;
      color: var(--text_gray_2); }
      .mejlis_deputies_page .inner_wrapper .breadcrumbs_row span {
        color: var(--sky_blue); }
    .mejlis_deputies_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 75px; }
      .mejlis_deputies_page .inner_wrapper .page_content_block .right_block {
        width: 1075px;
        row-gap: 25px; }
        .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .title_row {
          justify-content: space-between;
          width: 100%;
          align-items: center; }
          .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .title_row .title {
            font-size: 25px;
            font-family: 'OpenSansExtraBold', sans-serif;
            text-align: center;
            text-transform: uppercase;
            margin: 0; }
          .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .title_row .select_block select {
            font-size: 14px;
            font-family: 'OpenSansRegular', sans-serif;
            color: var(--text_gray);
            box-sizing: border-box;
            padding: 10px 150px 10px 10px;
            border: 1px solid #EAEAEA;
            background: var(--text_gray_4);
            background-color: var(--default_white);
            outline: none; }
        .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .letters_row {
          color: var(--text_gray_3);
          column-gap: 15px; }
          .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .letters_row .letter {
            font-family: 'OpenSansBold', sans-serif;
            font-size: 18px; }
        .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .deputies_block {
          width: 100%;
          flex-wrap: wrap;
          justify-content: space-between;
          row-gap: 25px; }
          .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .deputies_block .deputy_container {
            width: 527px;
            height: 240px;
            background-color: var(--container_background_blue);
            box-sizing: border-box;
            padding: 20px;
            row-gap: 10px;
            flex-shrink: 0;
            cursor: pointer; }
            .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .deputies_block .deputy_container .name {
              font-size: 16px;
              font-family: 'OpenSansBold', sans-serif;
              color: var(--sky_blue);
              cursor: pointer; }
            .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .deputies_block .deputy_container .key_value_wrapper {
              row-gap: 5px;
              max-width: 73%; }
              .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .deputies_block .deputy_container .key_value_wrapper .key {
                font-family: 'OpenSansBold', sans-serif;
                font-size: 14px; }
              .mejlis_deputies_page .inner_wrapper .page_content_block .right_block .deputies_block .deputy_container .key_value_wrapper .value {
                font-size: 14px;
                font-family: 'OpenSansRegular', sans-serif; }

.deputy_popup_container {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(50, 50, 50, 0.6);
  display: none; }
  .deputy_popup_container.active {
    display: flex; }
  .deputy_popup_container .popup_content_block {
    width: 59.25%;
    height: 76.9%;
    background-color: var(--default_white);
    box-sizing: border-box;
    padding: 50px 40px 40px 40px;
    color: var(--text_black_default);
    font-size: 14px;
    position: relative;
    overflow-y: scroll; }
    .deputy_popup_container .popup_content_block .deputy_name {
      font-family: 'OpenSansBold', sans-serif;
      font-size: 16px;
      margin: 0;
      color: var(--sky_blue) !important;
      text-align: center !important;
      margin-bottom: 14px; }
    .deputy_popup_container .popup_content_block .district_name {
      font-family: 'OpenSansRegular', sans-serif;
      text-align: center;
      margin-bottom: 14px; }
    .deputy_popup_container .popup_content_block p {
      font-family: 'OpenSansRegular', sans-serif !important;
      margin: 0; }
    .deputy_popup_container .popup_content_block .remove_button {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 10px;
      top: 10px; }

.district_popup_container {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(50, 50, 50, 0.6);
  display: none; }
  .district_popup_container.active {
    display: flex; }
  .district_popup_container .popup_content_block {
    width: 32.20%;
    height: 30%;
    background-color: var(--default_white);
    box-sizing: border-box;
    padding: 50px 40px 40px 40px;
    color: var(--text_black_default);
    font-size: 14px;
    position: relative;
    overflow-y: scroll; }
    .district_popup_container .popup_content_block .district_name {
      font-family: 'OpenSansBold',sans-serif;
      font-size: 16px;
      color: var(--sky_blue);
      margin-bottom: 10px; }
    .district_popup_container .popup_content_block p {
      margin: 0;
      color: var(--text_black_default) !important;
      font-family: 'OpenSansMedium',sans-serif !important;
      font-size: 14px !important; }
    .district_popup_container .popup_content_block .remove_button {
      width: 24px;
      height: 24px;
      position: absolute;
      right: 10px;
      top: 10px; }
