.mejlis_committees_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .mejlis_committees_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .mejlis_committees_page .inner_wrapper .page_content_block {
      width: 100%;
      justify-content: space-between;
      position: relative;
      column-gap: 20px; }
      .mejlis_committees_page .inner_wrapper .page_content_block .middle_column {
        color: var(--text_black_default);
        max-width: 728px;
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available; }
        .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .block_title {
          font-size: 25px;
          font-family: 'OpenSansExtraBold', sans-serif;
          margin: 0 0 25px 0;
          text-align: center; }
        .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .committee_head_block {
          align-items: center;
          margin-bottom: 25px; }
        .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .committee_members_block {
          width: 100%;
          row-gap: 25px;
          flex-wrap: wrap;
          justify-content: center;
          flex-wrap: wrap;
          column-gap: 25px; }
        .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .committee_member_container {
          max-width: 351px;
          width: -webkit-fill-available;
          width: -moz-available;
          width: -ms-available;
          min-height: 150px;
          background-color: var(--container_background_blue);
          box-sizing: border-box;
          padding: 10px;
          align-items: center;
          justify-content: center;
          row-gap: 10px;
          flex-shrink: 0; }
          .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .committee_member_container .name {
            font-size: 16px;
            font-family: 'OpenSansBold', sans-serif;
            color: var(--sky_blue);
            text-align: center; }
          .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .committee_member_container .position_name {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px;
            margin: 0;
            text-align: center; }
  @media (max-width: 1400px) {
    .mejlis_committees_page .inner_wrapper .page_content_block {
      column-gap: 0; }
      .mejlis_committees_page .inner_wrapper .page_content_block .sidebar_left {
        top: -35px; }
      .mejlis_committees_page .inner_wrapper .page_content_block .middle_column {
        max-width: unset;
        box-sizing: border-box;
        padding: 0 10px; }
        .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .block_title {
          padding: 0 15px; }
      .mejlis_committees_page .inner_wrapper .page_content_block .sidebar_right {
        top: -45px; } }
  @media (max-width: 600px) {
    .mejlis_committees_page .inner_wrapper .page_content_block .middle_column .block_title {
      font-size: 22px; } }
