.single_news_cooperation_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .single_news_cooperation_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .single_news_cooperation_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 80px;
      position: relative; }
      .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block {
        color: var(--text_black_default);
        row-gap: 15px;
        width: 1070px;
        align-items: center; }
        .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .images_wrapper {
          max-width: 886px;
          max-height: 503.5px;
          width: 82.85%;
          height: max-content;
          justify-content: space-between;
          column-gap: 5px; }
          .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .images_wrapper .image_big {
            width: -webkit-fill-available;
            width: -moz-available;
            width: -ms-available;
            min-width: 85.6%;
            height: 100%;
            object-fit: cover;
            object-position: center; }
          .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .images_wrapper .small_images_wrapper {
            max-width: 13.2%;
            width: max-content;
            justify-content: center;
            height: 100%;
            row-gap: 15px; }
            .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .images_wrapper .small_images_wrapper .image_small {
              width: 100%; }
        .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row {
          justify-content: center;
          position: relative;
          width: 100%; }
          .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row .icon {
            position: absolute; }
          .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row .date {
            width: 100%;
            text-align: start;
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 18px; }
        .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .news_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 25px;
          margin: 0;
          text-align: center; }
        .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .news_content p {
          font-family: 'OpenSansRegular', sans-serif !important;
          font-size: 16px !important;
          margin: 0 !important; }
    .single_news_cooperation_page .inner_wrapper .pagination_row {
      margin-top: 0; }
  @media (max-width: 1400px) {
    .single_news_cooperation_page .inner_wrapper .page_content_block {
      column-gap: 40px; } }
  @media (max-width: 999px) {
    .single_news_cooperation_page .inner_wrapper .page_content_block .sidebar_left {
      top: -35px; }
    .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block {
      box-sizing: border-box;
      padding: 0 10px; }
      .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .news_title {
        font-size: 21px; }
      .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row .date {
        font-size: 16px; } }
  @media (max-width: 600px) {
    .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .images_wrapper {
      width: 100%; }
      .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .images_wrapper .small_images_wrapper {
        row-gap: 10px; } }
  @media (max-width: 400px) {
    .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row {
      flex-direction: column;
      align-items: center;
      width: 100%;
      row-gap: 5px; }
      .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row .date {
        width: max-content; }
      .single_news_cooperation_page .inner_wrapper .page_content_block .news_content_block .date_row .icon {
        position: relative; } }
