.single_code_law_decree_pages {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .single_code_law_decree_pages .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .single_code_law_decree_pages .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 50px;
      position: relative; }
      .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side {
        row-gap: 35px;
        color: var(--text_black_default);
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available; }
        .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side .text_block {
          background-color: var(--container_background_blue);
          color: var(--text_black_default);
          box-sizing: border-box;
          padding: 10px 10px 15px 10px;
          font-family: 'OpenSansRegular', sans-serif !important; }
          .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side .text_block .text_title {
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            font-family: 'OpenSansBold', sans-serif !important;
            font-size: 25px;
            margin-bottom: 25px; }
          .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side .text_block .text_content {
            font-family: 'OpenSansRegular', sans-serif !important;
            font-size: 16px !important; }
            .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side .text_block .text_content p {
              margin: 0 !important; }
  @media (max-width: 999px) {
    .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side {
      margin: 0 0 0 25px; }
      .single_code_law_decree_pages .inner_wrapper .page_content_block .right_side .text_block .text_title {
        font-size: 21px; } }
