.single_item_international_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .single_item_international_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .single_item_international_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 80px; }
      .single_item_international_page .inner_wrapper .page_content_block .item_content_block {
        color: var(--text_black_default);
        row-gap: 15px;
        width: 1070px;
        align-items: center; }
        .single_item_international_page .inner_wrapper .page_content_block .item_content_block .images_wrapper {
          width: 886px;
          height: 503.5px;
          justify-content: space-between; }
          .single_item_international_page .inner_wrapper .page_content_block .item_content_block .images_wrapper .image_big {
            width: 85.6%;
            height: 100%; }
          .single_item_international_page .inner_wrapper .page_content_block .item_content_block .images_wrapper .small_images_wrapper {
            width: 13.2%;
            justify-content: center;
            height: 100%;
            row-gap: 15px; }
            .single_item_international_page .inner_wrapper .page_content_block .item_content_block .images_wrapper .small_images_wrapper .image_small {
              width: 100%; }
        .single_item_international_page .inner_wrapper .page_content_block .item_content_block .date_row {
          justify-content: center;
          position: relative;
          width: 100%; }
          .single_item_international_page .inner_wrapper .page_content_block .item_content_block .date_row .icon {
            position: absolute; }
          .single_item_international_page .inner_wrapper .page_content_block .item_content_block .date_row .date {
            width: 100%;
            text-align: end;
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 18px; }
        .single_item_international_page .inner_wrapper .page_content_block .item_content_block .news_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 25px;
          margin: 0;
          text-align: center; }
        .single_item_international_page .inner_wrapper .page_content_block .item_content_block .news_content p {
          font-family: 'OpenSansRegular', sans-serif !important;
          font-size: 16px !important;
          margin: 0 !important; }
    .single_item_international_page .inner_wrapper .pagination_row {
      margin-top: 0; }
