.single_news_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .single_news_page .inner_wrapper {
    width: var(--default_width); }
    .single_news_page .inner_wrapper .breadcrumbs_row {
      margin: 0 0 35px 0; }
    .single_news_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 80px;
      position: relative; }
      .single_news_page .inner_wrapper .page_content_block .news_content_block {
        color: var(--text_black_default);
        row-gap: 15px;
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available;
        align-items: center; }
        .single_news_page .inner_wrapper .page_content_block .news_content_block .image_wrapper {
          width: 758px;
          height: 503.5px; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .image_wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; }
        .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row {
          justify-content: space-between;
          align-items: center;
          position: relative;
          width: 100%; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .date {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 18px; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .icon {
            width: 117px;
            height: 21px; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .langs_block {
            column-gap: 10px; }
            .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .langs_block .flag_button {
              width: 37px;
              height: 22px;
              transition: all 0.2s ease-in; }
              .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .langs_block .flag_button.active {
                box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.55); }
        .single_news_page .inner_wrapper .page_content_block .news_content_block .news_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 25px;
          margin: 0;
          text-align: center;
          display: none !important; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .news_title.active {
            display: block !important; }
        .single_news_page .inner_wrapper .page_content_block .news_content_block .news_text {
          display: none !important; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .news_text.active {
            display: block !important; }
          .single_news_page .inner_wrapper .page_content_block .news_content_block .news_text p {
            font-family: 'OpenSansRegular', sans-serif !important;
            font-size: 16px !important;
            margin: 0 !important; }
    .single_news_page .inner_wrapper .related_news_block {
      margin-top: 50px; }
      .single_news_page .inner_wrapper .related_news_block .block_title {
        font-family: 'OpenSansExtraBold', sans-serif;
        font-size: 30px;
        color: var(--text_black_default);
        text-transform: uppercase;
        margin: 0 0 15px 0; }
      .single_news_page .inner_wrapper .related_news_block .news_row {
        justify-content: space-between;
        column-gap: 15px;
        flex-wrap: wrap;
        row-gap: 25px; }
  @media (max-width: 1480px) {
    .single_news_page .inner_wrapper .related_news_block .news_row {
      justify-content: space-evenly; }
      .single_news_page .inner_wrapper .related_news_block .news_row .news_container_medium:last-child {
        display: none; } }
  @media (max-width: 1200px) {
    .single_news_page .inner_wrapper .page_content_block {
      column-gap: 40px; }
      .single_news_page .inner_wrapper .page_content_block .news_content_block .image_wrapper {
        width: 91.5%;
        height: max-content; } }
  @media (max-width: 1105px) {
    .single_news_page .inner_wrapper .related_news_block .news_row {
      row-gap: 30px; }
      .single_news_page .inner_wrapper .related_news_block .news_row .news_container_medium:last-child {
        display: flex; } }
  @media (max-width: 999px) {
    .single_news_page .inner_wrapper .page_content_block {
      margin-top: 20px; }
      .single_news_page .inner_wrapper .page_content_block .sidebar_left {
        top: -35px; }
      .single_news_page .inner_wrapper .page_content_block .news_content_block {
        box-sizing: border-box;
        padding: 0 10px; } }
  @media (max-width: 600px) {
    .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .date {
      font-size: 16px; }
    .single_news_page .inner_wrapper .page_content_block .news_content_block .news_title {
      font-size: 21px; }
    .single_news_page .inner_wrapper .page_content_block .news_content_block .image_wrapper {
      width: 100%; } }
  @media (max-width: 500px) {
    .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row {
      flex-direction: column;
      row-gap: 10px; }
      .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .icon {
        order: 1; }
      .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .date {
        order: 2; }
      .single_news_page .inner_wrapper .page_content_block .news_content_block .date_row .langs_block {
        order: 3; } }
