.single_deputy_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 35px 0; }
  .single_deputy_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 35px; }
    .single_deputy_page .inner_wrapper .page_content_block {
      width: 100%;
      column-gap: 75px;
      position: relative; }
      .single_deputy_page .inner_wrapper .page_content_block .right_block {
        width: 619px;
        row-gap: 25px; }
        .single_deputy_page .inner_wrapper .page_content_block .right_block .name {
          font-size: 30px;
          font-family: 'OpenSansExtraBold', sans-serif;
          margin: 0;
          text-transform: uppercase;
          color: var(--sky_blue); }
        .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper {
          column-gap: 15px;
          color: var(--text_black_default); }
          .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper .key {
            font-size: 14px;
            font-family: 'OpenSansBold', sans-serif;
            min-width: 37.3%; }
          .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper .value {
            font-family: 'OpenSansRegular', sans-serif;
            font-size: 14px;
            row-gap: 10px; }
            .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper .value.link {
              color: var(--sky_blue);
              cursor: pointer; }
            .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper .value p {
              margin: 0; }
          .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper #election_district_wrapper, .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper #deputy_bio_wrapper {
            overflow-y: hidden !important;
            transition: all 0.3s ease-in;
            row-gap: 20px; }
            .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper #election_district_wrapper .district_borders_text, .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper #election_district_wrapper .deputy_bio_text, .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper #deputy_bio_wrapper .district_borders_text, .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper #deputy_bio_wrapper .deputy_bio_text {
              display: none;
              color: var(--text_black_default); }
  @media (max-width: 999px) {
    .single_deputy_page .inner_wrapper .page_content_block .right_block {
      box-sizing: border-box;
      padding: 0 10px; }
      .single_deputy_page .inner_wrapper .page_content_block .right_block .name {
        padding-left: 15px; } }
  @media (max-width: 600px) {
    .single_deputy_page .inner_wrapper .page_content_block .right_block .name {
      font-size: 23px; }
    .single_deputy_page .inner_wrapper .page_content_block .right_block .key_value_wrapper {
      flex-direction: column;
      row-gap: 15px; } }
