@charset "UTF-8";
/* ===== Обнуление ===== */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: 0; }

a:focus,
a:active {
  outline: 0; }

nav,
footer,
header,
aside {
  display: block; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

.navigation {
  padding: 30px 15px 15px 15px;
  box-shadow: 5px 0px 15px rgba(119, 119, 119, 0.2);
  border-radius: 15px;
  background-color: #fff; }
  .navigation .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 40px 0px; }
    .navigation .logo img {
      width: 65px;
      height: 65px;
      margin: 0px 0px 10px 0px; }
    .navigation .logo span {
      font-size: 14px;
      font-weight: 700;
      line-height: 130%;
      text-align: center; }
  .navigation nav.menu {
    display: flex;
    flex-direction: column; }
    .navigation nav.menu .menu__link {
      padding: 12px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 8px;
      transition: 0.2s;
      margin: 0px 0px 15px 0px; }
      .navigation nav.menu .menu__link .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 15px 0px 0px;
        width: 20px; }
        .navigation nav.menu .menu__link .icon img {
          width: 20px;
          transition: 0.2s; }
          .navigation nav.menu .menu__link .icon img.circle {
            width: 10px; }
          .navigation nav.menu .menu__link .icon img.img1 {
            opacity: 1; }
          .navigation nav.menu .menu__link .icon img.img2 {
            position: absolute;
            opacity: 0; }
      .navigation nav.menu .menu__link span {
        font-size: 16px;
        font-weight: 500;
        transition: 0.2s; }
      .navigation nav.menu .menu__link.ml {
        margin: 0px 0px 15px 10px;
        padding: 12px 10px; }
        .navigation nav.menu .menu__link.ml .icon {
          margin: 0px 8px 0px 0px; }
      .navigation nav.menu .menu__link.active {
        background-color: #42a3f7; }
        .navigation nav.menu .menu__link.active .icon img.img1 {
          opacity: 0; }
        .navigation nav.menu .menu__link.active .icon img.img2 {
          opacity: 1; }
        .navigation nav.menu .menu__link.active span {
          color: #fff; }
    .navigation nav.menu a.menu__link:hover {
      background-color: #42a3f7; }
      .navigation nav.menu a.menu__link:hover .icon img.img1 {
        opacity: 0; }
      .navigation nav.menu a.menu__link:hover .icon img.img2 {
        opacity: 1; }
      .navigation nav.menu a.menu__link:hover span {
        color: #fff; }

.head {
  background-color: #fff;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25); }
  .head .search {
    width: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0px 70px 0px 0px; }
    .head .search input {
      height: 20px;
      width: 100%;
      border-bottom: 2px solid #e7e7e7;
      padding: 0px 25px 0px 5px; }
      .head .search input:focus {
        border-bottom: 2px solid #42a3f7; }
    .head .search img {
      width: 20px;
      position: absolute;
      top: -7px;
      right: 0; }
  .head .user {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px 0px; }
    .head .user .user__name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0px 15px 0px 0px; }
      .head .user .user__name span:nth-child(1) {
        font-size: 16px;
        font-weight: 500; }
      .head .user .user__name span:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        color: #b9b9c3; }
    .head .user img {
      width: 40px;
      height: 40px; }
  .head .logout {
    cursor: pointer;
    transition: 0.5s; }
    .head .logout:hover {
      transform: scale(1.1); }
    .head .logout img {
      width: 26px;
      height: 26px; }

.crumbs {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 10px; }
  .crumbs img {
    width: 17px;
    margin: 0px 5px 0px 0px; }
  .crumbs a,
  .crumbs div {
    color: #7367f0;
    margin: 0px 5px 0px 0px;
    font-size: 14px;
    font-weight: 500; }

.content {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  height: 80%;
  overflow: auto;
  padding: 30px;
  box-shadow: 0 0 15px rgba(12, 12, 12, 0.2);
  /* ====================================
                SETTINGS PAGE
    ==================================== */
  /* ====================================
            EDIT AND CREAT PAGE
    ==================================== */
  /* ====================================
                FORM BUTTON
    ==================================== */ }
  .content div.title {
    width: 100%;
    margin: 0px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .content div.title h1 {
      display: block;
      padding: 0px 0px 15px 0px;
      width: 85%;
      border-bottom: 2px solid #e7e7e7; }
    .content div.title a {
      width: 120px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7367f0;
      color: #fff;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      line-height: 0;
      text-transform: capitalize;
      transition: 0.5s; }
      .content div.title a:hover {
        transform: scale(1.05); }
  .content .list__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin: 0px 0px 15px 0px; }
    .content .list__head .name {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .content .list__head .name div.date {
        text-align: center; }
  .content .content__list .list__item {
    border-top: 1.5px solid #f2f2f2;
    border-right: 1.5px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1.5px solid #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px; }
    .content .content__list .list__item:nth-child(1) {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
    .content .content__list .list__item .item__txt {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .content .content__list .list__item .item__txt div {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        display: box;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        padding: 0px 10px 0px 0px;
        line-height: 140%; }
        .content .content__list .list__item .item__txt div h1,
        .content .content__list .list__item .item__txt div h2,
        .content .content__list .list__item .item__txt div h3,
        .content .content__list .list__item .item__txt div h4,
        .content .content__list .list__item .item__txt div h5,
        .content .content__list .list__item .item__txt div p,
        .content .content__list .list__item .item__txt div span,
        .content .content__list .list__item .item__txt div div,
        .content .content__list .list__item .item__txt div b,
        .content .content__list .list__item .item__txt div strong {
          font-size: 16px !important;
          font-weight: 400 !important;
          color: #565e63 !important; }
        .content .content__list .list__item .item__txt div.date {
          text-align: center;
          padding: 0; }
    .content .content__list .list__item .item__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      .content .content__list .list__item .item__button a img {
        width: 20px;
        height: 20px;
        transition: 0.5s; }
        .content .content__list .list__item .item__button a img:hover {
          transform: scale(1.15); }
      .content .content__list .list__item .item__button form label img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        transition: 0.5s; }
        .content .content__list .list__item .item__button form label img:hover {
          transform: scale(1.15); }
  .content form.settings__form .form__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 0px 0px 30px 0px; }
    .content form.settings__form .form__item:nth-child(4) {
      margin: 0px 0px 50px 0px; }
    .content form.settings__form .form__item .label {
      width: 110px;
      font-weight: 500;
      margin: 0px 30px 0px 0px; }
      .content form.settings__form .form__item .label.counter {
        width: auto; }
    .content form.settings__form .form__item .checkbox__label {
      display: block;
      position: relative;
      width: 45px;
      height: 24px;
      background-color: #e2e2e2;
      border-radius: 40px;
      display: flex;
      align-items: center;
      transition: 0.3s; }
      .content form.settings__form .form__item .checkbox__label::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 12%;
        background-color: #fff;
        border-radius: 50%;
        transition: 0.3s; }
      .content form.settings__form .form__item .checkbox__label.checked {
        background-color: #7367f0; }
        .content form.settings__form .form__item .checkbox__label.checked::after {
          left: 55%; }
    .content form.settings__form .form__item input.settingsCheckbox {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      height: 0;
      font-size: 0; }
  .content form.settings__form .blue__border {
    width: 85%;
    height: 2px;
    background-color: #42a3f7;
    margin: 0px 0px 50px 0px; }
  .content form.edit__form .column {
    display: flex;
    flex-direction: column; }
    .content form.edit__form .column .form__item {
      margin: 0px 0px 30px 0px !important; }
  .content form.edit__form .row {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 25px 0px; }
    .content form.edit__form .row .form__item {
      display: flex;
      flex-direction: column;
      margin: 0px 50px 0px 0px;
      position: relative; }
      .content form.edit__form .row .form__item .label {
        font-size: 12px;
        font-weight: 600;
        color: #919191;
        margin: 0px 0px 8px 0px;
        padding: 0px 0px 0px 10px; }
      .content form.edit__form .row .form__item label.txt {
        font-size: 12px;
        font-weight: 600;
        color: #919191;
        margin: 0px 0px 8px 0px;
        padding: 0px 0px 0px 10px; }
      .content form.edit__form .row .form__item label.file {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 0px 15px 0px 0px;
        border: 1.5px solid #e7e7e7;
        border-radius: 10px;
        box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2);
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s;
        white-space: nowrap; }
        .content form.edit__form .row .form__item label.file img {
          margin: 0px 0px 0px 10px;
          width: 20px;
          height: 20px; }
        .content form.edit__form .row .form__item label.file:hover {
          border: 1.5px solid #7367f0;
          box-shadow: 4px 15px 15px rgba(114, 103, 240, 0.15);
          color: #7367f0; }
      .content form.edit__form .row .form__item .file__box {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .content form.edit__form .row .form__item .file__box .help {
          margin: 0px 15px 0px 0px; }
        .content form.edit__form .row .form__item .file__box .list-files {
          width: 100%;
          overflow: hidden; }
          .content form.edit__form .row .form__item .file__box .list-files li {
            font-size: 14px;
            color: #919191;
            line-height: 130%;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            display: box;
            -ms-line-clamp: 2;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            box-orient: vertical; }
      .content form.edit__form .row .form__item select {
        width: 100%;
        height: 40px;
        padding: 0px 10px;
        border: 1.5px solid #e7e7e7;
        border-radius: 10px;
        transition: 0.2s;
        box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2); }
        .content form.edit__form .row .form__item select:focus {
          border: 1.5px solid #7367f0; }
      .content form.edit__form .row .form__item input.inputTxt, .content form.edit__form .row .form__item select.inputTxt {
        width: 100%;
        height: 40px;
        padding: 0px 10px;
        border: 1.5px solid #e7e7e7;
        border-radius: 10px;
        transition: 0.2s;
        box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2); }
        .content form.edit__form .row .form__item input.inputTxt:focus, .content form.edit__form .row .form__item select.inputTxt:focus {
          border: 1.5px solid #7367f0; }
      .content form.edit__form .row .form__item input.inputFile, .content form.edit__form .row .form__item select.inputFile {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        height: 0;
        font-size: 0; }
      .content form.edit__form .row .form__item input.inputDate, .content form.edit__form .row .form__item select.inputDate {
        width: 100%;
        height: 40px;
        border: 1.5px solid #e7e7e7;
        border-radius: 10px;
        padding: 0px 10px;
        box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2); }
      .content form.edit__form .row .form__item textarea {
        width: 100%;
        height: 100px;
        padding: 10px 10px;
        border: 1.5px solid #e7e7e7;
        border-radius: 10px;
        transition: 0.2s;
        box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2);
        resize: none; }
        .content form.edit__form .row .form__item textarea:focus {
          border: 1.5px solid #7367f0; }
      .content form.edit__form .row .form__item.alignBot {
        justify-content: flex-end; }
      .content form.edit__form .row .form__item .txtBox {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .content form.edit__form .row .form__item .txtBox input,
        .content form.edit__form .row .form__item .txtBox textarea {
          margin: 0px 10px 0px 0px; }
      .content form.edit__form .row .form__item .form__select__box {
        width: 100%;
        padding: 10px 10px;
        border: 1.5px solid #f2f2f2; }
        .content form.edit__form .row .form__item .form__select__box select {
          cursor: pointer;
          width: 100%;
          height: 100%;
          font-size: 16px;
          font-weight: 400;
          background-color: #fff; }
  .content form .form__button {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 0px 0px; }
    .content form .form__button input {
      width: 130px;
      height: 40px;
      background-color: #7367f0;
      color: #fff;
      border-radius: 10px;
      margin: 0px 30px 0px 0px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.5s; }
      .content form .form__button input:hover {
        transform: scale(1.05); }
    .content form .form__button a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 40px;
      border: 2px solid #82868b;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
      color: #82868b;
      transition: 0.5s; }
      .content form .form__button a:hover {
        transform: scale(1.05); }

.ck-content {
  height: 200px; }
  .ck-content ul li,
  .ck-content ol li {
    list-style: revert; }

.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_nw,
.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_sw {
  right: -260% !important; }

.custom-select {
  position: relative; }
  .custom-select select {
    display: none; }
  .custom-select .select-selected {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    height: 40px;
    color: #565e63;
    padding: 8px 15px;
    cursor: pointer;
    box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.15); }
    .custom-select .select-selected::after {
      content: "";
      position: absolute;
      top: 35%;
      right: 15px;
      width: 8px;
      height: 8px;
      border-top: 2px solid #6e6b7b !important;
      border-right: 2px solid #6e6b7b !important;
      display: block;
      transform: rotate(135deg); }
    .custom-select .select-selected.select-arrow-active::after {
      transform: rotate(-45deg);
      top: 45%; }
  .custom-select .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99; }
    .custom-select .select-items.select-hide {
      display: none; }
    .custom-select .select-items div {
      color: #565e63;
      padding: 8px 16px;
      cursor: pointer;
      border: 2px solid #f2f2f2; }
      .custom-select .select-items div:hover {
        background-color: rgba(0, 0, 0, 0.05); }

form .help {
  position: relative;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 35px; }
  form .help .help__icon {
    border: 1.5px solid #e7e7e7;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    color: red;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center; }
  form .help .help__content {
    position: absolute;
    bottom: 120%;
    background-color: #7367f0;
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s; }
    form .help .help__content span {
      display: block;
      white-space: nowrap;
      margin: 0px 0px 10px 0px;
      font-size: 16px; }
      form .help .help__content span b {
        font-weight: 700; }
      form .help .help__content span:last-child {
        margin: 0; }
  form .help:hover .help__icon {
    background-color: red;
    color: #fff; }
  form .help:hover .help__content {
    opacity: 1;
    visibility: visible; }

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login .login__body {
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px; }
    .login .login__body form.form__login {
      width: 60%; }
      .login .login__body form.form__login .login__title {
        display: flex;
        justify-content: center;
        margin: 0px 0px 40px 0px; }
        .login .login__body form.form__login .login__title h1 {
          font-size: 30px;
          font-weight: 600; }
      .login .login__body form.form__login .form__item {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 30px 0px; }
        .login .login__body form.form__login .form__item:nth-child(3) {
          margin: 0px 0px 40px 0px; }
        .login .login__body form.form__login .form__item label {
          font-size: 14px;
          font-weight: 600;
          color: #919191;
          margin: 0px 0px 8px 0px;
          padding: 0px 0px 0px 10px; }
        .login .login__body form.form__login .form__item input {
          width: 100%;
          height: 40px;
          padding: 0px 10px;
          border: 1.5px solid #e7e7e7;
          border-radius: 10px;
          transition: 0.2s;
          box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2); }
          .login .login__body form.form__login .form__item input:focus {
            border: 1.5px solid #7367f0;
            box-shadow: 4px 15px 15px rgba(114, 103, 240, 0.05); }
      .login .login__body form.form__login .form__button {
        display: flex;
        justify-content: center; }
        .login .login__body form.form__login .form__button input {
          width: 110px;
          height: 40px;
          font-size: 14px;
          font-weight: 600;
          color: #919191;
          background-color: #fff;
          border: 1.5px solid #e7e7e7;
          border-radius: 10px;
          cursor: pointer;
          box-shadow: 4px 15px 15px rgba(191, 191, 191, 0.2);
          transition: 0.3s; }
          .login .login__body form.form__login .form__button input:hover {
            border: 1.5px solid #7367f0;
            box-shadow: 4px 15px 15px rgba(114, 103, 240, 0.15);
            color: #7367f0; }

/* ====================================
            1440px
==================================== */
@media (max-width: 1440px) {
  .navigation .logo {
    display: flex;
    flex-direction: column; }
    .navigation .logo img {
      margin: 0px 0px 10px 0px; }
    .navigation .logo span {
      text-align: center; }
  .navigation nav.menu .menu__link {
    margin: 0px 0px 15px 0px; }
    .navigation nav.menu .menu__link .icon img {
      width: 18px; }
    .navigation nav.menu .menu__link span {
      font-size: 14px;
      line-height: 130%; } }

body {
  width: 100%;
  height: 100%; }

html,
body {
  width: 100vw;
  height: 100vh;
  color: #565e63;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter"; }
  html a,
  body a {
    color: #565e63; }
  html h1.title,
  body h1.title {
    font-size: 20px;
    font-weight: 500; }
    @media (max-width: 1440px) {
      html h1.title,
      body h1.title {
        font-size: 18px; } }
  html h2,
  body h2 {
    font-size: 20px;
    font-weight: 500; }
    @media (max-width: 1440px) {
      html h2,
      body h2 {
        font-size: 18px; } }
  html .err,
  body .err {
    margin: 10px 0px 0px 5px;
    color: red;
    line-height: 120%;
    font-size: 14px; }
  html .w5,
  body .w5 {
    width: 5%; }
  html .w5a5,
  body .w5a5 {
    width: 5.5%; }
  html .w10,
  body .w10 {
    width: 10%; }
  html .w15,
  body .w15 {
    width: 15%; }
  html .w20,
  body .w20 {
    width: 20%; }
  html .w25,
  body .w25 {
    width: 25%; }
  html .w30,
  body .w30 {
    width: 30%; }
  html .w35,
  body .w35 {
    width: 35%; }
  html .w40,
  body .w40 {
    width: 40%; }
  html .w45,
  body .w45 {
    width: 45%; }
  html .w50,
  body .w50 {
    width: 50%; }
  html .w60,
  body .w60 {
    width: 60%; }
  html .w70,
  body .w70 {
    width: 70%; }
  html .w80,
  body .w80 {
    width: 80%; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: #e9e9e9; }
  .wrapper .navigation {
    width: 16%;
    overflow-y: auto; }
  .wrapper main.main {
    width: 84%;
    height: 100%;
    padding: 20px 40px 25px 20px; }
  .wrapper a.st {
    position: fixed;
    bottom: 13px;
    right: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #919191; }
