// <ШРИФТЫ> ==============================================================================
$defaultFontFamily: "Inter";
$secondFontFamily: "";
// </ШРИФТЫ> ==============================================================================

// <ПЕРЕМЕННЫЕ> ==============================================================================
$text: #565e63;
$purple: #7367f0;
$blue: #42a3f7;
$dark_grey: #919191;
$light_grey: #f2f2f2;

$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 1440;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// </ПЕРЕМЕННЫЕ> ==============================================================================
