.tkm_history_page {
  width: 100%;
  justify-content: center;
  margin: 10px 0 50px 0; }
  .tkm_history_page .inner_wrapper {
    width: var(--default_width);
    row-gap: 50px; }
    .tkm_history_page .inner_wrapper .page_content_block {
      width: 100%;
      justify-content: space-between;
      position: relative;
      column-gap: 25px; }
      .tkm_history_page .inner_wrapper .page_content_block .sidebar_container .nav_block {
        display: none; }
      .tkm_history_page .inner_wrapper .page_content_block .middle_column {
        max-width: 747px;
        box-sizing: border-box;
        padding: 10px 10px 15px 10px;
        background-color: var(--container_background_blue);
        height: max-content; }
        .tkm_history_page .inner_wrapper .page_content_block .middle_column .column_title {
          font-family: 'OpenSansExtraBold', sans-serif;
          font-size: 25px;
          margin: 0 0 25px 0;
          text-align: center; }
        .tkm_history_page .inner_wrapper .page_content_block .middle_column p {
          font-family: 'OpenSansRegular', sans-serif !important;
          font-size: 16px !important;
          margin: 0 !important;
          color: var(--text_black_default) !important; }
  @media (max-width: 1400px) {
    .tkm_history_page .inner_wrapper .page_content_block {
      justify-content: flex-start; }
      .tkm_history_page .inner_wrapper .page_content_block .middle_column {
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-available;
        max-width: unset; }
        .tkm_history_page .inner_wrapper .page_content_block .middle_column .column_title {
          padding-right: 25px; } }
